<button class="btn cal_but" style="background-color: orange">
  <p class="notification"><%= @availableDay.date.strftime('%b') %></p>
  <p class="notification"><%= @availableDay.date.strftime('%d') %></p>
  <p class="notification"><%= @availableDay.date.strftime('%a') %></p>
</button>
