<body class="mess_bod">
  <div class="container mailbox">
    <div class="row">
      <div class="col-lg-12 mess_mailbox">
        <div>
          <% if @messages.any? %>
            <%= render 'messages' %>
          <% end %>
        </div>
        <div>
        <div id="messages-table" class="messages-table"></div>
          <%= render 'message_form' %>
        </div>
      </div>
    </div>
  </div>
</body>
