/* line 4, /Users/oladejoolakareem/Documents/Company/SeenYours/app/assets/stylesheets/appointment.scss */
.appointment_top_form {
  padding-top: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  font-family: 'Muli', sans-serif;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  color: orange;
  width: 30%;
  border-radius: 3px;
}
@media screen and (max-width: 1440px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SeenYours/app/assets/stylesheets/appointment.scss */
  .appointment_top_form {
    padding-top: 40px;
    margin-top: 90px;
    width: 30%;
    border-radius: 3px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SeenYours/app/assets/stylesheets/appointment.scss */
  .appointment_top_form {
    padding-top: 40px;
    margin-top: 90px;
    width: 40%;
    border-radius: 3px;
  }
}
@media screen and (max-width: 768px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SeenYours/app/assets/stylesheets/appointment.scss */
  .appointment_top_form {
    padding-top: 40px;
    margin-top: 90px;
    width: 50%;
    border-radius: 3px;
  }
}
@media screen and (max-width: 425px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SeenYours/app/assets/stylesheets/appointment.scss */
  .appointment_top_form {
    padding-top: 40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
  }
}
/* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.avail_form_top {
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 60px;
  width: 55%;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px black;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .avail_form_top {
    padding-top: 40px;
    margin-top: 100px;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .avail_form_top {
    background-color: #f5f5f5;
    padding-left: 40px;
    margin-top: 0px;
    box-shadow: none;
  }
}
@media screen and (max-width: 375px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .avail_form_top {
    padding-left: 50px;
  }
}
@media screen and (max-width: 320px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .avail_form_top {
    padding-left: 22px;
    box-shadow: none;
  }
}

/* line 42, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.cal_but {
  width: 70px;
  font-size: 16px;
  box-shadow: 1px 1px 5px black;
}
@media screen and (max-width: 640px) {
  /* line 42, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .cal_but {
    width: 50px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 42, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .cal_but {
    width: 50px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 60, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.days_cal_but {
  width: 70px;
  font-size: 14px;
  box-shadow: 1px 1px 5px black;
}
@media screen and (max-width: 640px) {
  /* line 60, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .days_cal_but {
    width: 50px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 60, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .days_cal_but {
    width: 40px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 78, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.t_cal_but {
  width: 90px;
  font-size: 14px;
  box-shadow: 1px 1px 5px black;
}
@media screen and (max-width: 640px) {
  /* line 78, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .t_cal_but {
    width: 70px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 78, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .t_cal_but {
    width: 50px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 96, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.time_cal_but {
  width: 70px;
  font-size: 16px;
  box-shadow: 1px 1px 5px black;
}
@media screen and (max-width: 640px) {
  /* line 96, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .time_cal_but {
    width: 50px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 96, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .time_cal_but {
    width: 50px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 114, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.cal_pad {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 118, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
.comp_submit {
  height: 50px;
  width: 250px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  /* line 118, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/available_days.scss */
  .comp_submit {
    height: 50px;
  }
}
/* line 1, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/conversation.scss */
.mailbox {
  margin-top: 80px;
}

/* line 5, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/conversation.scss */
.inbox_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* line 11, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/conversation.scss */
.mailbox_div {
  box-shadow: 0px 0px 0.5px black;
  border: 1px solid gray;
  border-radius: 30px;
  margin-bottom: 5px;
  padding: 2px 0px;
  background-color: #f5f5f5;
}
/* line 1, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean {
  color: orange;
  left: 0;
  bottom: 0px;
  width: 100%;
  margin-top: 100px;
  background-color: transparent !important;
  padding-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  /* line 1, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
  .footer-clean {
    display: none;
  }
}

/* line 18, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

/* line 25, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

/* line 33, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

/* line 39, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean ul a:hover {
  opacity: 1;
}

/* line 43, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 48, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* line 55, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
  .footer-clean .item.social {
    text-align: center;
  }
}
/* line 60, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

/* line 75, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  /* line 80, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  /* line 86, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}
/* line 91, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/footer.scss */
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
/* line 1, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.navbar {
  background-color: white !important;
}

/* line 8, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.navbar a {
  color: black;
  font-family: 'Muli', sans-serif;
}

/* line 18, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.dash {
  display: show;
}
@media screen and (max-width: 768px) {
  /* line 18, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .dash {
    display: none;
  }
}

/* line 25, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.nav_img {
  height: 65px;
  width: 65px;
}
@media screen and (max-width: 1024px) {
  /* line 25, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .nav_img {
    height: 40px;
    width: 40px;
  }
}

/* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.navbar-brand {
  font-weight: 600;
  color: orange !important;
  padding-left: 40px;
}
@media screen and (max-width: 1024px) {
  /* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .navbar-brand {
    padding-left: 0px;
  }
}

/* line 46, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.nav-link {
  color: orange !important;
  font-size: 16px;
}

/* line 51, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.nav-item a:hover {
  color: orange !important;
}

/* line 55, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.lead_nav {
  padding-right: 750px;
}
@media screen and (max-width: 1024px) {
  /* line 55, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .lead_nav {
    padding-right: 200px !important;
  }
}
@media screen and (max-width: 1440px) {
  /* line 55, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .lead_nav {
    padding-right: 580px;
  }
}

/* line 68, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.logged_in_lead_nav {
  padding-left: 1200px;
}
@media screen and (max-width: 1440px) {
  /* line 68, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .logged_in_lead_nav {
    padding-left: 850px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 68, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .logged_in_lead_nav {
    padding-left: 650px;
  }
}
@media screen and (max-width: 768px) {
  /* line 68, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .logged_in_lead_nav {
    padding-left: 0px;
  }
}

/* line 82, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.header_button {
  height: 40px;
  width: 80px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  font-family: 'Hind', sans-serif;
}
@media screen and (max-width: 1440px) {
  /* line 82, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .header_button {
    height: 30px;
  }
}

/* line 97, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.header_button:hover {
  box-shadow: 1px 1px 5px black;
}

/* line 101, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.header_large_button {
  height: 40px;
  width: 200px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  font-family: 'Hind', sans-serif;
}
@media screen and (max-width: 1440px) {
  /* line 101, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
  .header_large_button {
    height: 30px;
  }
}

/* line 116, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.header_large_button:hover {
  box-shadow: 1px 1px 5px black;
}

/* line 120, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.humble_text {
  font-size: 23px;
  font-style: italic;
}

/* line 125, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/header.scss */
.companion_text {
  margin-top: -0.6em;
  font-style: italic;
}
/* line 1, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
.mess_bod {
  background-color: #f6f6f6;
}

/* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
.mess_responsive_image {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 640px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
  .mess_responsive_image {
    width: 40px;
    height: 40px;
  }
}

/* line 13, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
.mess_img_circle {
  border-radius: 200px;
}

/* line 17, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
.mess_display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 23, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
.mess_div {
  margin-bottom: 5px;
  padding-top: 20px;
  background-color: Azure;
}

/* line 30, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
#recent_mess {
  position: relative;
}

/* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
.mess_descrip {
  height: 120px;
  width: 1120px;
  border-radius: 6px;
  padding-left: 0px;
}
@media screen and (max-width: 1024px) {
  /* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
  .mess_descrip {
    width: 900px;
  }
}
@media screen and (max-width: 768px) {
  /* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
  .mess_descrip {
    width: 700px;
  }
}
@media screen and (max-width: 468px) {
  /* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
  .mess_descrip {
    height: 30px;
    width: 340px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  /* line 35, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/message.scss */
  .mess_descrip {
    width: 300px;
    margin-left: 0px;
  }
}
/* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
.review_form_top {
  padding-top: 20px;
  margin-top: 90px;
  height: 450px;
  width: 50%;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 50px;
}
@media screen and (max-width: 1024px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .review_form_top {
    padding-top: 40px;
    margin-top: 30px;
    height: 500px;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 40px;
    background-color: none;
    border-radius: 0px;
  }
}
@media screen and (max-width: 414px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .review_form_top {
    padding-top: 40px;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 20px;
    background-color: none;
    border-radius: 0px;
    height: 100%;
  }
}
@media screen and (max-width: 320px) {
  /* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .review_form_top {
    padding-top: 40px;
    margin-top: 30px;
    border: none;
    font-size: 15px;
    padding-left: 17px;
    background-color: none;
    border-radius: 0px;
    height: 100%;
  }
}

/* line 51, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
.descrip_rev {
  height: 120px;
  width: 720px;
  border-radius: 6px;
  margin-left: -55px;
}
@media screen and (max-width: 1440px) {
  /* line 51, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .descrip_rev {
    width: 600px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 51, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .descrip_rev {
    width: 300px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  /* line 51, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .descrip_rev {
    width: 280px !important;
    margin-left: 0px;
  }
}

/* line 73, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
.h3_1 {
  padding-right: 100px;
}
@media screen and (max-width: 414px) {
  /* line 73, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .h3_1 {
    padding-right: 0px;
  }
}

/* line 79, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
.h3_2 {
  padding-right: 83px;
}
@media screen and (max-width: 414px) {
  /* line 79, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .h3_2 {
    padding-right: 0px;
  }
}

/* line 86, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
.h3_3 {
  padding-right: 155px;
}
@media screen and (max-width: 414px) {
  /* line 86, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/reviews.scss */
  .h3_3 {
    padding-right: 0px;
  }
}
/* line 5, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
.responsive-input {
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  color: orange;
  outline: none;
  border-width: thin;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-style: solid;
}
@media screen and (max-width: 425px) {
  /* line 5, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .responsive-input {
    height: 50px;
    width: 300px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
}

/* line 30, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
.form_top {
  opacity: 1;
  background-color: white;
  padding: 40px 0px;
  margin-top: 200px;
  width: 30%;
  box-shadow: 1px 1px 5px black;
  box-shadow-color: orange;
  border-radius: 6px;
  color: orange;
}
@media screen and (max-width: 375px) {
  /* line 30, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .form_top {
    width: 100% !important;
  }
}
@media screen and (max-width: 414px) {
  /* line 30, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .form_top {
    margin-top: 0px !important;
    background-color: transparent;
    box-shadow: none;
  }
}
@media screen and (max-width: 1024px) {
  /* line 30, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .form_top {
    padding-top: 80px;
    margin-top: 100px;
    width: 80%;
  }
}

/* line 58, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
.form_div {
  padding-bottom: 20px;
}

/* line 62, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
.sign_in_form_submit {
  height: 60px;
  width: 400px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 425px) {
  /* line 62, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .sign_in_form_submit {
    height: 50px;
    width: 300px;
  }
}

/* line 77, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
.form_submit {
  height: 60px;
  width: 200px;
  color: black;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  /* line 77, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .form_submit {
    height: 50px;
  }
}

/* line 91, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
.request_form_submit {
  height: 60px;
  width: 200px;
  color: white;
  background-color: red;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  /* line 91, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/sessions.scss */
  .request_form_submit {
    height: 50px;
  }
}
/* line 4, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

/* line 11, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
body {
  background-color: white;
  padding-top: 50px;
}

/* line 16, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.profile_show {
  margin-top: 60px;
}
@media screen and (max-width: 1440px) {
  /* line 16, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .profile_show {
    margin-top: 0px;
  }
}

/* line 23, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.notification {
  margin-bottom: 0em;
}

/* line 27, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sign_up_form_top {
  padding-top: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  font-family: 'Muli', sans-serif;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  color: orange;
  width: 30%;
  border-radius: 3px;
  opacity: 1;
}
@media screen and (max-width: 1440px) {
  /* line 27, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_top {
    padding-top: 40px;
    margin-top: 90px;
    width: 30%;
    border-radius: 3px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 27, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_top {
    padding-top: 40px;
    margin-top: 90px;
    width: 40%;
    border-radius: 3px;
  }
}
@media screen and (max-width: 768px) {
  /* line 27, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_top {
    padding-top: 40px;
    margin-top: 90px;
    width: 50%;
    border-radius: 3px;
  }
}
@media screen and (max-width: 425px) {
  /* line 27, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_top {
    padding-top: 40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
  }
}

@media screen and (max-width: 320px) {
  /* line 69, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_top .col-lg-12 {
    padding-left: 0px;
  }
}

/* line 75, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.option {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

/* line 81, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.option-div_1 {
  padding-right: 150px;
}
@media screen and (max-width: 1440px) {
  /* line 81, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .option-div_1 {
    padding-right: 70px;
  }
}

/* line 87, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.user_responsive-input {
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width: thin;
  color: orange;
  border-style: solid;
}
@media screen and (max-width: 1440px) {
  /* line 87, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .user_responsive-input {
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 87, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .user_responsive-input {
    width: 300px !important;
    padding-left: 0px;
  }
}

/* line 112, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.info_responsive-input {
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width: thin;
  color: orange;
  border-style: solid;
}
@media screen and (max-width: 1440px) {
  /* line 112, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .info_responsive-input {
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 112, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .info_responsive-input {
    width: 300px !important;
  }
}

/* line 137, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.add_responsive-input {
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width: thin;
  color: orange;
  border-style: solid;
}
@media screen and (max-width: 1440px) {
  /* line 137, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .add_responsive-input {
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 320px) {
  /* line 137, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .add_responsive-input {
    width: 300px !important;
  }
}

/* line 163, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.select_div {
  padding-left: 60px;
}
@media screen and (max-width: 320px) {
  /* line 163, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .select_div {
    padding-left: 10px;
  }
}

/* line 169, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.select_input_lead {
  height: 40px;
  border-color: orange;
  border-style: 1px solid red;
}
@media screen and (max-width: 320px) {
  /* line 169, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .select_input_lead {
    height: 30px;
  }
}

/* line 178, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.select_input {
  height: 40px;
  width: 187px;
  border-color: orange;
  border-style: 1px solid red;
}
@media screen and (max-width: 320px) {
  /* line 178, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .select_input {
    height: 30px;
  }
}

/* line 188, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sign_up_form_submit {
  height: 60px;
  width: 400px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 320px) {
  /* line 188, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_submit {
    width: 300px !important;
  }
}
@media screen and (max-width: 1440px) {
  /* line 188, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sign_up_form_submit {
    height: 50px;
    width: 315px;
  }
}

/* line 208, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.senior_edit_form_top {
  padding-top: 20px;
  margin-top: 90px;
  height: 450px;
  width: 90%;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  border-radius: 6px;
}
@media screen and (max-width: 1440px) {
  /* line 208, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .senior_edit_form_top {
    padding-top: 40px;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    border-radius: 3px;
  }
}

/* line 225, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_edit_req {
  background-color: orange;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}

/* line 233, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_edit_form_top {
  padding-top: 20px;
  margin-bottom: 40px;
  background-color: white;
}
@media screen and (max-width: 1440px) {
  /* line 233, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_edit_form_top {
    padding-top: 40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
  }
}

/* line 249, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.edit_responsive-input {
  height: 40px;
  width: 600px;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width: thin;
  border-style: solid;
  border-color: orange;
}
@media screen and (max-width: 1440px) {
  /* line 249, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .edit_responsive-input {
    height: 30px;
    width: 500px;
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  /* line 249, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .edit_responsive-input {
    height: 30px;
    width: 450px;
  }
}
@media screen and (max-width: 414px) {
  /* line 249, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .edit_responsive-input {
    height: 30px;
    width: 280px;
  }
}
@media screen and (max-width: 320px) {
  /* line 249, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .edit_responsive-input {
    width: 240px;
    padding-left: 0px;
  }
}

/* line 288, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.fee_div {
  padding-left: 40px;
}
@media screen and (max-width: 320px) {
  /* line 288, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .fee_div {
    padding-left: 20px;
  }
}

/* line 294, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.descrip {
  height: 120px;
  width: 600px;
  border-radius: 6px;
  border-color: orange;
}
@media screen and (max-width: 320px) {
  /* line 294, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .descrip {
    width: 250px !important;
  }
}
@media screen and (max-width: 414px) {
  /* line 294, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .descrip {
    width: 290px !important;
  }
}
@media screen and (max-width: 1440px) {
  /* line 294, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .descrip {
    width: 350px;
  }
}

/* line 312, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.index_div {
  margin-top: 60px;
}

/* line 316, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_show {
  height: 400px;
}

/* line 320, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_show a {
  text-decoration: none;
  color: black;
}

/* line 324, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_img {
  height: 70%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* line 333, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_descrp {
  height: 25%;
  border-top: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* line 341, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_rate {
  height: 23px;
  position: absolute;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 425px) {
  /* line 341, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_rate {
    top: 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  /* line 341, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_rate {
    top: 10px;
  }
}

/* line 360, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.edit_n_comp_rate {
  color: orange;
  height: 23px;
  position: absolute;
  top: 76%;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 425px) {
  /* line 360, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .edit_n_comp_rate {
    top: 74% !important;
  }
}
@media screen and (max-width: 1024px) {
  /* line 360, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .edit_n_comp_rate {
    top: 76%;
  }
}

/* line 381, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.edit_tag {
  color: orange;
  text-decoration: none;
}

/* line 386, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.edit_tag {
  color: orange;
}

/* line 390, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.edit_tag:link {
  text-decoration: none;
}

/* line 395, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.image-upload > input {
  display: none;
}

/* line 399, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.image-upload > label {
  cursor: pointer;
}

/* line 404, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_fee {
  height: 23px;
  position: absolute;
  right: 15px;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 425px) {
  /* line 404, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_fee {
    top: 0px !important;
  }
}
@media screen and (max-width: 1024px) {
  /* line 404, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_fee {
    top: 10px;
  }
}

/* line 423, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_img_app {
  margin: 0px 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 10px;
  width: 96%;
}
@media screen and (max-width: 640px) {
  /* line 423, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_img_app {
    margin: 20px;
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  /* line 423, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_img_app {
    width: 89%;
  }
}

/* line 441, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_image {
  height: 350px;
}
@media screen and (max-width: 640px) {
  /* line 441, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_image {
    height: 350px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 640px) {
  /* line 451, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .no_cont {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 458, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_img_upper {
  height: 80%;
  width: 100%;
  background-position: top center;
  background-repeat: none;
  background-size: cover;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 640px) {
  /* line 458, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_img_upper {
    margin: 0px;
  }
}

/* line 473, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_img_lower {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* line 481, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_app {
  margin-top: 15px;
  font-family: 'Muli' sans-serif;
}

/* line 489, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_app_par {
  font-weight: 700;
  font-size: 20px;
}

/* line 494, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_rating {
  margin: 0px 15px;
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}
@media screen and (max-width: 414px) {
  /* line 494, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_rating {
    margin: 0px 5px;
    margin: 20px;
    width: 91%;
  }
}
@media screen and (max-width: 320px) {
  /* line 494, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_rating {
    margin: 0px 5px;
    margin: 20px;
    width: 89%;
  }
}

/* line 514, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.calender {
  padding-top: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 95%;
}
@media screen and (max-width: 640px) {
  /* line 514, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .calender {
    margin: 20px;
  }
}

/* line 524, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_stars {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 1440px) {
  /* line 524, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .sen_stars {
    font-weight: 0;
    font-size: 12px;
  }
}

/* line 536, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.responsive-image {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 640px) {
  /* line 536, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .responsive-image {
    width: 60px;
    height: 60px;
  }
}

/* line 546, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.img-circle {
  border-radius: 60px;
}

/* line 551, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.review_div {
  padding-top: 50px;
}

/* line 556, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.sen_comp {
  margin: 0px 15px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 3px;
}

/* line 563, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_description {
  margin: 16px 0px;
  font-family: 'Muli';
  border-radius: 3px;
}
@media screen and (max-width: 640px) {
  /* line 563, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_description {
    margin: 20px 0px;
  }
}

/* line 572, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.comp_app_req {
  padding: 0 15px;
  margin: 15px;
  border-radius: 3px;
}
@media screen and (max-width: 640px) {
  /* line 572, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .comp_app_req {
    margin: 5px;
  }
}

/* line 582, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.rev_paragraphs {
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  /* line 582, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
  .rev_paragraphs {
    font-size: 15px;
  }
}

/* line 589, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.daite {
  margin: 0px 5px;
}

/* line 593, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.user_rev_par {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}

/* line 599, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/users.scss */
.date_time {
  display: none;
}
@media screen and (max-width: 1024px) {
  /* line 5, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .home_div {
    margin-top: -20px;
  }
}

/* line 11, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
#car1 {
  background-image: url(/assets/boardgame.jpg) !important;
  background-size: cover;
  background-position: top center;
  height: 730px;
  background-attachment: fixed;
  opacity: 0.8px;
}
@media screen and (max-width: 1024px) {
  /* line 11, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  #car1 {
    height: 400px;
    background-attachment: scroll;
    background-position: top center;
  }
}

/* line 25, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
#car2 {
  background-image: url(/assets/help.jpg) !important;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 730px;
}
@media screen and (max-width: 1024px) {
  /* line 25, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  #car2 {
    height: 400px;
    background-attachment: scroll;
  }
}

/* line 37, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
#car3 {
  background-image: url(/assets/smilyblac.jpg) !important;
  background-size: cover;
  background-position: top center;
  height: 730px;
  background-attachment: fixed;
}
@media screen and (max-width: 1024px) {
  /* line 37, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  #car3 {
    height: 400px;
    background-attachment: scroll;
  }
}

/* line 49, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.image_div p {
  font-size: 30px;
  padding-top: 460px;
  color: white;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif;
}
@media screen and (max-width: 425px) {
  /* line 49, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .image_div p {
    font-size: 12px;
  }
}

/* line 63, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_div {
  margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 425px) {
  /* line 69, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .comp_div .col-lg-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/* line 76, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.pad_cont {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 80, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_div .col-lg-12 p {
  color: orange;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 20px;
}

/* line 88, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_img_div {
  background-postion: center;
  height: 60%;
  background-size: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* line 95, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_img_text {
  height: 10%;
  display: flex;
  align-items: center;
}

/* line 102, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_img_text p {
  color: orange;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
}

/* line 108, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_img_descrp p {
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

/* line 113, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.comp_img_descrp {
  height: 20%;
}

/* line 117, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.who_we {
  padding: 30px 80px 30px 80px;
  background-color: Azure;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 425px) {
  /* line 117, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .who_we {
    padding: 10px 30px 20px;
  }
}

/* line 130, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.who_we .text-center {
  font-size: 20px;
  color: orange;
  letter-spacing: 3px;
}
@media screen and (max-width: 425px) {
  /* line 130, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .who_we .text-center {
    padding: 0px 30px 20px;
  }
}

/* line 140, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.who_we p {
  font-size: 18px;
}

/* line 144, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.font {
  margin-bottom: 30px;
}

/* line 148, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.font_back {
  margin: 30px 0px;
}

/* line 152, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.font_back .text-center {
  color: orange;
}

/* line 156, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.font_p {
  padding: 0 20px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

/* line 162, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.font_p_1 {
  letter-spacing: 2px;
  font-size: 15px;
}

/* line 166, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.image2_div {
  background-repeat: no-repeat;
  background-size: cover;
  background-postion: center;
  background-image: url(http://www.epitomemagazine.com/wp-content/uploads/2016/09/elderly-blk-man-white-woman1.jpg);
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 425px) {
  /* line 166, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .image2_div {
    height: 400px;
  }
}

/* line 183, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.image2_div p {
  font-size: 30px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 5px black;
  font-family: 'Muli', sans-serif;
}
@media screen and (max-width: 425px) {
  /* line 183, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .image2_div p {
    font-size: 12px;
    font-weight: 700;
  }
}

/* line 197, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.stepp {
  margin: 20px 0px;
  padding: 50px 0px;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  /* line 197, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .stepp {
    padding: 100px 20px;
  }
}

/* line 211, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.stepp h2 {
  padding-bottom: 50px;
}

/* line 215, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.require {
  margin: 60px 0px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 425px) {
  /* line 215, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .require {
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  }
}

/* line 229, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.require_div1 {
  padding: 15px 0px;
  color: orange;
}

/* line 234, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.require_div1 h2 {
  font-family: 'Muli', sans-serif;
  color: orange;
  letter-spacing: 3px;
  font-size: 25px;
}

/* line 241, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.require_div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  height: 500px;
}
@media screen and (max-width: 425px) {
  /* line 241, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .require_div2 {
    height: 350px;
  }
}

/* line 253, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.require_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-postion: center;
  background-image: url(/assets/bagcheck.jpg);
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 425px) {
  /* line 253, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .require_img {
    height: 450px;
  }
}

/* line 265, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.require_par_last {
  padding-bottom: 2.5em;
}
@media screen and (max-width: 768px) {
  /* line 265, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .require_par_last {
    padding-bottom: 0em;
  }
}

/* line 272, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.be_a_comp_icons {
  padding-right: 10px;
}

/* line 276, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  padding: 40px 20px;
}

/* line 282, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this h2 {
  font-family: 'Muli', sans-serif;
  color: orange;
  letter-spacing: 3px;
  font-size: 25px;
}

/* line 289, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this_div h2 {
  font-family: 'Muli', sans-serif;
  color: orange;
  letter-spacing: 3px;
  font-size: 25px;
}

/* line 296, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this_comp {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  padding: 0px 5px;
  margin-bottom: 40px;
}

/* line 303, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-postion: left center;
  background-image: url(/assets/youngman.jpg);
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 425px) {
  /* line 303, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .why_this_img {
    height: 450px;
  }
}

/* line 316, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.sen_why_this_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-postion: left;
  background-image: url(/assets/cocktail.jpg);
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 425px) {
  /* line 316, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .sen_why_this_img {
    height: 250px;
  }
}

/* line 330, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this_div {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  height: 600px;
}
@media screen and (max-width: 768px) {
  /* line 330, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .why_this_div {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

/* line 347, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.why_this_par_last {
  padding-bottom: 3em;
}
@media screen and (max-width: 768px) {
  /* line 347, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .why_this_par_last {
    padding-bottom: 0em;
  }
}

/* line 353, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.become_submit {
  height: 45px;
  width: 200px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  /* line 353, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .become_submit {
    height: 50px;
    margin-bottom: 40px;
  }
}

/* line 368, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.need_com_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-postion: top center;
  background-image: url(/assets/boule.jpg);
  width: 100%;
  height: 650px;
  margin-bottom: 30px;
}
@media screen and (max-width: 645px) {
  /* line 368, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .need_com_img {
    height: 350px;
  }
}

/* line 382, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.policy_header {
  color: orange;
}

/* line 386, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.par_last_policys {
  padding-bottom: 15px;
}

/* line 390, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.values {
  background-color: #f5f5f5;
  padding-top: 20px;
}

/* line 396, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.values .edit_tag {
  font-size: 25px;
  font-family: 'Muli', sans-serif;
  letter-spacing: 3px;
}

/* line 411, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.text_header {
  color: orange;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 20px;
}

/* line 420, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.btn-link {
  color: orange;
  letter-spacing: 2px;
  text-decoration-line: none;
}

/* line 426, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.faq .edit_tag {
  letter-spacing: 3px;
  text-decoration-line: none;
  font-size: 25px;
  padding-top: 30px;
}

/* line 433, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.faq .card {
  border: none;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

/* line 439, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
.faq .card-header {
  border: none;
  background-color: transparent;
  padding: .375rem .55rem;
}

@media screen and (max-width: 645px) {
  /* line 446, /Users/oladejoolakareem/Documents/Company/SenYours/app/assets/stylesheets/welcome.scss */
  .faq .card-header .btn {
    letter-spacing: none;
    font-size: 0.65rem !important;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

