<body class="mess_bod">
<div class='mailbox'>
  <div class='container'>
    <h3>Inbox</h3>

    <table class="table" style="background-color: #fff">
      <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Last Message</th>
        <th scope="col">Updated</th>
      </tr>
      </thead>
      <tbody>
      <% if(@conversations.present?) %>
      <% @conversations.each do |conversation| %>
        <% if conversation.messages.present? %>
          <tr style="cursor: pointer;">
            <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <td>
                <img src="<%= recipient.avatar.thumb.url if recipient.avatar? %>" class= "mess_responsive_image mess_img_circle img-fluid">
                <%=  recipient.first_name%>

              </td>
              <td >

                <%= link_to conversation.messages.last.body ,   conversation_messages_path(conversation), "data-turbolinks":"false"%>
              </td>
              <td><%= conversation.messages.last.message_time %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
        <%else %>
        <tr><td colspan="3" style="text-align: center">No Messages present</td></tr>
        <% end %>
      </tbody>
    </table>

<!-- <div class='ui segment'>
   <h3>All Users</h3>
    <div class='ui list'>
     <%# @users.each do |user| %>
        <%# if user.id != current_user.id %>
         <div class='item'>
           <%#= user.first_name %> <%#= link_to 'Message me!', user_conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
         </div>
        <%# end %>
     <%# end %>
    </div>
  </div> -->
</body>
