<body style="background-color: #f6f6f6">
<div class="container quiz_cont">
  <input type="hidden" id="clientIdinput" value="<%= current_user.email %>" style="width:80%;" disabled/>
  <div id="surveyContainer"></div>
</div>
<div class="container text-center">
  <%= link_to "Click on this button After you get your assessment result", assesment_path %>
</div>
</body>
