<body>
    <div class="text-center choose" >
        <%= link_to "Request a companion",sen_new_path, class:"btn form_submit_sen" %>
        <%= link_to "Become a companion",comp_new_path, class:"btn form_submit_sen" %>
    </div>
</body>
