<body>
    <div class="text-center choose" >
        <button class=" btn form_submit" id="senior_click"><%= link_to "Request a companion",sen_new_path %></button>
        <button class=" btn form_submit" id="companion_click"><%= link_to "Become a companion",comp_new_path %></button>
    </div>
</body>
