<body>
    <div class="text-center choose" >
        <button class="btn"><%= link_to "Request a companion",sen_new_path, class: "btn form_submit_sen" %></button>
        <button class=" btn"><%= link_to "Become a companion",comp_new_path, class: "btn form_submit_sen" %></button>
    </div>
</body>
