<body>
    <div class="text-center choose" >
        <h5 class="new-senior-header" style="color: orange;"> Who needs companionship</h5>
        <button class="btn"><%= link_to "ME",main_sen_path, class: "btn form_submit_sen" %></button>
        <button class=" btn"><%= link_to "MY FAMILY",guard_sen_path, class: "btn form_submit_sen" %></button>
    </div>
</body>
