<body style="background-color: #F5F5F5; opacity: 10">
<div class="container">
  <div class="row require">
    <div class="col-lg-6 ">
      <div class="require_div1">
        <h2>Requirements</h2>
      </div>
      <div class="require_div2">
        <p><img src="/assets/check2.png"> Be over 18 the day you sign up</p>
        <p><img src="/assets/check2.png"> Pass a Background check</p>
        <p><img src="/assets/check2.png"> Have a reliable source of transportation</p>
        <p><img src="/assets/check2.png"> Have a smart phone</p>
        <p class="require_par_last"><img src="/assets/check2.png"> Be Available</p>
        <a href="/users/new"><button class="btn become_submit">Sign up</button></a>
      </div>
    </div>
    <div class="col-lg-6 require_img"></div>
  </div>
</div>
<div class="">
  <div class="row stepp">
    <div class="col-lg-12">
    <h2 class="text-center">How To Companion</h2>
    </div>
    <div class="col-lg-4 form_div">
      <h3 class="text-center">Step 1 </h3>
      <div class="text-center">
        <img src="/assets/backgroundcheck.png" class="font">
      </div>
      <div class="text-center">
      <p class="notification">Sign Up</p>
      <p class="notification">Complete Application</p>
      <p class="notification">Wait For Background check</p>
      </div>
    </div>
    <div class="col-lg-4 form_div">
      <h3 class="text-center">Step 2 </h3>
      <div class="text-center">
        <img src="/assets/calender (1).png" class="font">
      </div>
      <div class="text-center">
      <p class="notification">Hustle smartly</p>
      <p class="notification">Schedule Date you want to work</p>
      </div>
    </div>
    <div class="col-lg-4 form_div">
      <h3 class="text-center">Step 3 </h3>
      <div class="text-center">
        <img src="/assets/bank.png" class="font">
      </div>
      <div class="text-center">
      <p class="notification">Get matched with Companion seekers</p>
      <p class="notification">Get paid $ $</p>
      </div>
    </div>
  </div>
</div>
<div class="container why_this">
  <div class="row">
    <div class="col-lg-6 why_this_img"></div>
    <div class="col-lg-6 why_this_div">
      <h2>Why Become a Companion</h2>
      <p><img src="/assets/happy.png" class="be_a_comp_icons"> You are your own boss #freedom</p>
      <p><img src="/assets/happy.png" class="be_a_comp_icons"> You Choose when you work and what time you work</p>
      <p><img src="/assets/happy.png" class="be_a_comp_icons"> Get to know different individuals</p>
      <p><img src="/assets/happy.png" class="be_a_comp_icons"> Contribute to others well bieng</p>
      <p class="why_this_par_last"><img src="/assets/happy.png" class="be_a_comp_icons"> Get paid weekly</p>
      <a href="/users/new"><button class="btn become_submit">Sign up</button></a>
    </div>
  </div>
</div>
</body>
