<body style="background-color: #F5F5F5; opacity: 10">
  <main>
    <section class="container pad_cont">
      <div class="row require">
        <div class="col-lg-6 ">
          <div class="require_div1">
            <h2 style="padding-bottom: 15px;">Requirements</h2>
          </div>
          <div class="require_div2">
            <strong><img src="/assets/mark.png"> Be over 18 </strong>
            <strong><img src="/assets/mark.png"> Pass a Background check</strong>
            <strong><img src="/assets/mark.png"> Have a smartphone</strong>
            <strong><img src="/assets/mark.png"> Pass a screening assessment</strong>
            <strong class="require_par_last"><img src="/assets/mark.png"> Be available a minimum of 2 hours a month</strong>
            <div class='prefinery-form-embed'></div>
           </div>
        </div>
        <div class="col-lg-6 require_img"></div>
      </div>
    </section>
    <section class="container pad_cont">
      <div class="row stepp">
        <div class="col-lg-12">
        <h2 class="text-center">How To Companion</h2>
        </div>
        <div class="col-lg-4 form_div">
          <h3 class="text-center">Step 1 </h3>
          <div class="text-center">
            <img src="/assets/backgroundcheck.png" class="font">
          </div>
          <div class="text-center">
          <p class="notification">Sign Up</p>
          <p class="notification">Complete Application</p>
          <p class="notification">Wait For Background check</p>
          </div>
        </div>
        <div class="col-lg-4 form_div">
          <h3 class="text-center">Step 2 </h3>
          <div class="text-center">
            <img src="/assets/calender (1).png" class="font">
          </div>
          <div class="text-center">
          <p class="notification">Hustle smartly</p>
          <p class="notification">Schedule Date you want to work</p>
          </div>
        </div>
        <div class="col-lg-4 form_div">
          <h3 class="text-center">Step 3 </h3>
          <div class="text-center">
            <img src="/assets/bank.png" class="font">
          </div>
          <div class="text-center">
          <p class="notification">Get matched with Companion seekers</p>
          <p class="notification">Get paid</p>
          </div>
        </div>
      </div>
    </section>
    <section class="container pad_cont">
      <div class="row why_this">
        <div class="col-lg-6 why_this_img"></div>
        <div class="col-lg-6 why_this_div">
          <h2 class="text-header" style="padding-bottom: 15px;">Why Become a Companion</h2>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Be your own boss</strong>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Choose what day and what time you work</strong>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Connect with individuals  in your community</strong>
          <strong><img src="/assets/mark.png" class="be_a_comp_icons"> Contribute to others well bieng</strong>
          <strong class="why_this_par_last"><img src="/assets/mark.png" class="be_a_comp_icons"> Weekly payment cycles</strong>
          <div class='prefinery-form-embed'></div>
        </div>
      </div>
    </section>
  </main>
  <script type="text/javascript">
    (function(d, w, c) {
    w.ChatraID = 'CraZHDarmzW2h7DBC';
    var s = d.createElement('script');
    w[c] = w[c] || function() {
      (w[c].q = w[c].q || []).push(arguments);
    };
    s.async = true;
    s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
    + '//call.chatra.io/chatra.js';
    if (d.head) d.head.appendChild(s);
  })(document, window, 'Chatra');
  </script>
</body>
