<div class="container" style="margin-top: 30px;">
  <div class="row require">
    <div class="col-lg-6 ">
      <div class="require_div1">
        <h2>Requirements</h2>
      </div>
      <div class="require_div2">
        <p>- Be over 18</p>
        <p>- Pass a Background check</p>
        <p>- Have a smart phone</p>
        <p>- Be Available</p>
        <a href="/users/new"><button class="btn become_submit">Sign up</button></a>
      </div>
    </div>
    <div class="col-lg-6 require_img"></div>
  </div>
</div>
<div class="">
  <div class="row stepp">
    <div class="col-lg-12">
    <h1 class="text-center">How To Companion</h1>
    </div>
    <div class="col-lg-4 form_div">
      <h2>Step 1 </h2>
      <p>Sign Up</p>
      <p>Complete Application</p>
      <p>Wait For Background check</p>
    </div>
    <div class="col-lg-4 form_div">
      <h2>Step 2 </h2>
      <p></p>
      <p>Hustle smartly</p>
      <p>Schedule Date you want to work</p>
    </div>
    <div class="col-lg-4 form_div">
      <h2>Step 3 </h2>
      <p>Get matched with Companion seekers</p>
      <p>Get paid $ $</p>
    </div>
  </div>
</div>
<div class="container why_this">
  <div class="row">
    <div class="col-lg-6 why_this_img"></div>
    <div class="col-lg-6 why_this_div">
      <h1>Why Become a Companion</h1>
      <p>- Freedom</p>
      <p>- You Choose when you work</p>
      <p>- Get to know different individuals</p>
      <p>- Contribute to others well bieng</p>
      <p>- Get paid $$</p>
    </div>
  </div>
</div>
