<div class="container" style="margin-top: 60px">
  <div>
    <h1>Cookie Policy</h1>
    <p>As described in our Privacy Policy, we use cookies and other technologies to enhance your experience. This Cookie Policy sets out some further detail on how and why we use these technologies on our Platform. The terms "SenYours," "we," "us," and "our" include SenYours and our affiliates. By using our Platform, you consent to storage and access to cookies and other technologies on your device, in accordance with this Cookie Policy.</p>
    <h4 class="policy_header">Cookies</h4>
    <p>What Cookies Are. Cookies are small data files which are placed on your computer or mobile device when you visit a website. Cookies are used used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information. </p>
    <p>How We Use Cookies. Cookies serve a variety of functions, like enabling us to remember certain information you provide to us as you navigate between pages on the Platform. We use cookies for the following purposes:</p>
    <p>• Authentication: We use cookies to recognize you if you are logged in to our Platform. This gives us an impression of your experience on or with the Platform in the ways described below. Additionally, we may employ third-party services that may use cookies to help you sign into their services from our Platform.</p>
    <p>• Security: We use cookies to support or enable security features we have deployed, and to help us detect malicious activity and violations of our Terms of Service. These cookies help us prevent fraudulent use of login credentials.</p>
    <p>• Services, features, and preferences: We use cookies to provide functionality to your preferences. For example, we use cookies to know which language you prefer, what your communications preferences are, to show you personalized views, use our features and fill out forms on the Platform.</p>
    <p>• Performance, Analytics and Research: We use cookies to help us analyze how the Platform is being used and with which device. This enables us to track performance of the Platform and helps us to understand, improve, and research features and content on the Platform. We may also use other services, such as Google Analytics or other third-party cookies, to assist with analyzing performance on our Platform.</p>
    <p>Duration of Cookies. There are "session cookies" that will stay on your device only for as long as you are accessing our Platform. And there are "persistent cookies" that are stored on your device for longer periods.</p>
    <h4 class="policy_header">Does SenYours allow for Social Networking Cookies?</h4>
    <p>Yes, these cookies are used to enable you to share content that you find interesting, or events you might attend, on our Sites through third party social networking and other websites. If you want to refuse these cookies turn off the social options within your account settings.</p>
    <h4 class="policy_header">Opting Out</h4>
    <p>Most devices and web browsers default settings are set to accept cookies. You may be able to remove or reject cookies. You can learn more about cookies by visiting allaboutcookies.org. Please note that if you choose to remove or reject cookies, it could affect the availability and functionality of our Platform.</p>
    <h4 class="policy_header">Revisions to this Policy</h4>
    <p>We may modify this Cookie Policy from time to time. When we do, we will provide notice to you by publishing the most current version and revising the date at the top of this page. By continuing to use the Platform after any changes come into effect, you agree to the revised Cookie Policy.</p>
  </div>
</div>

