<body style="background-color: white;">
  <div class="home_div">
    <div class="image_div">
      <p>Combating loneliness one companionship at a time</p>
    </div>
    <div class="container">
    <div class="row comp_div">
      <div class="col-lg-12 text-center">
        <p>MEET YOUR COMPANIONS<p>
      </div>
      <% 3.times do %>
        <div class="col-lg-4 col-md-4" style=" height: 550px;">
          <div class="comp_img_div" style="background-image: url(<%=@arr.sample%>);"></div>
          <div class="comp_img_text">
            <p class="notification"> <strong>John Ledgend</strong>,  San francisco</p>
          </div>
          <div class="comp_img_descrp">
            <p>Description: "I started driving with Uber because I liked the idea that my own car could make me money."</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class=" row who_we" id="what_we">
    <div class="col-lg-6">
      <p class="text-center notification">WHO WE ARE</p>
    </div>
    <div class="col-lg-6">
      <p>SenYours is a growing community that supports seniors that wish for companionship. Companionship that is rooted in respect, dignity, compassion and love. Companionship that provides both parties a meaningful service that anyone can sign up for, that fills the gaps of today’s society and that encourages true human connections.
      </p>
    </div>
  </div>
<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <img src="/assets/verified.png" class="font">
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <img src="/assets/time.png" class="font">
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <img src="/assets/phone.png" class="font">
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <img src="/assets/car.png" class="font">
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <img src="/assets/shop.png" class="font">
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <img src="/assets/sports.png" class="font">
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
</div>
</div>
<div class="image2_div">
    <p>Your Happiness is an important priority.</p>
</div>
</body>
