<body style="background-color: #ffffff;">
  <div class="home_div">
    <div>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" id="car1">
          </div>
          <div class="carousel-item" id="car2">
          </div>
          <div class="carousel-item" id="car3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="col-lg-12 text-center">
        <p class="text_header">WHAT YOU GET FROM SENYOURS PLATFORM<p>
      </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 font_back">
        <div class="text-center">
          <img src="/assets/verified.png" class="font">
        </div>
        <p class="text-center font_p_1">VERIFICATION AND PROTECTION</p>
        <p class="font_p">All companions have to pass a thorough background check. Plus we have you covered with our insurance.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 font_back">
        <div class="text-center">
          <img src="/assets/time.png" class="font">
        </div>
        <p class="text-center font_p_1">PUNCTUAL</p>
        <p class="font_p">Our companions are available from 7AM to 6PM. Availability on short notice to attend to your needs.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 font_back">
        <div class="text-center">
          <img src="/assets/phone.png" class="font">
        </div>
        <p class="text-center font_p_1">SUPPORT STAFF</p>
        <p class="font_p">Our local support staff is available 24/7. You’re free to call us anytime you want with any questions or with any individual need.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 font_back">
        <div class="text-center font_p_1">
          <img src="/assets/car.png" class="font">
        </div>
        <p class="text-center font_p_1">TRANSPORTATION</p>
        <p class="font_p">Wherever you need to go, our companions will ride with you. In your car and if you prefer to ride a bus we’ll get on board too.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 font_back">
        <div class="text-center">
          <img src="/assets/shop.png" class="font">
        </div>
        <p class="text-center font_p_1">SHOPPING</p>
        <p class="font_p">Companions support you in obtaining your favorite groceries and prepare the meals you relish. It’s your choice to share the meal with them.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 font_back">
        <div class="text-center">
          <img src="/assets/sports.png" class="font">
        </div>
        <p class="text-center font_p_1">ACTIVITIES</p>
        <p class="font_p">At home, in the park or gym –anywhere you want– we support you in staying active with exercises that you like or walks that you prefer.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row comp_div">
      <div class="col-lg-12 text-center">
        <p>MEET YOUR COMPANIONS<p>
      </div>
        <div class="col-lg-4 col-md-4" style=" height: 550px;">
          <div class="comp_img_div" style="background-image: url(<%=@arr[0]%>);"></div>
          <div class="comp_img_text">
            <p class="notification"> <strong>Jose Frenando</strong>,  San francisco</p>
          </div>
          <div class="comp_img_descrp">
            <p>Description: "I Love to help people on a day to day basics. Being a companion is something I enjoy doing"</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" style=" height: 550px;">
          <div class="comp_img_div" style="background-image: url(<%=@arr[1]%>);"></div>
          <div class="comp_img_text">
            <p class="notification"> <strong>Peter Fred</strong>,  San francisco</p>
          </div>
          <div class="comp_img_descrp">
            <p>Description: "Every day for me starts with a smile, impacting others with joyous moment is something I appreciate from being a companion."</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" style=" height: 550px;">
          <div class="comp_img_div" style="background-image: url(<%=@arr[2]%>);"></div>
          <div class="comp_img_text">
            <p class="notification"> <strong>Helen Kate</strong>,  San francisco</p>
          </div>
          <div class="comp_img_descrp" id="what_we">
            <p>Description: "For me being a companion is a way to give back to the wonderful world I live in, some-days after class especially on the weekend I love to companion."</p>
          </div>
        </div>
    </div>
  </div>
  <div class=" row who_we" >
    <div class="col-lg-6">
      <p class="text-center notification">WHO WE ARE</p>
    </div>
    <div class="col-lg-6">
      <p>SenYours is a growing community that supports seniors that wish for companionship. Companionship that is rooted in respect, dignity, compassion and love. Companionship that provides both parties a meaningful service that anyone can sign up for, that fills the gaps of today’s society and that encourages true human connections.
      </p>
    </div>
  </div>
  <div class="values">
    <div class="container">
      <p class="text-center edit_tag">OUR VALUES</p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <p class="text-center font_p_1">EVERYONE IS WELCOME</p>
          <p class="font_p">We believe that everyone is unique in their own way, as long as you can be verified as a safe individual,you are welcome to use our platform.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <p class="text-center font_p_1">PEOPLE BEFORE PROFIT</p>
          <p class="font_p">Happy customers lead to a profitable company. We also reinvest our profit into people that use our platform.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <p class="text-center font_p_1">HUMAN KINDNESS</p>
          <p class="font_p">We are all humans first before anything, human kindness is in our core.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <p class="text-center font_p_1">RESPECT</p>
          <p class="font_p">People are different but we belief, if we treat you the way you will treat yourself, you definitely will pass that on.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <p class="text-center font_p_1">COMMUNITY</p>
          <p class="font_p">We build happy community and volunteer every oppurtunity we get to communities that support humans</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <p class="text-center font_p_1">FUN</p>
          <p class="font_p">We work were we have fun, Our companions are always thrilled to have safe fun activities.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image2_div">
      <p>Your Happiness is an important priority.</p>
  </div>
  <div class="faq container">
    <div>
      <p class="text-center edit_tag">Frequently Asked Question</p>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              WHAT DOES SENYOURS DO ?
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            SenYours is a non- medical healthcare platform that connects, verified companions with people that need companionship, either to run errands, shop, socialize or just talk.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              WHO ARE YOUR COMPANIONS ?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            SenYours Companions are individuals that come from all aspects of life that have gone through a background check and verified. They review training materials and always happy with what they do.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              HOW DOES SENYOURS MAKE MONEY ?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            We make money from transactions that Companion seekers pay companion. We don't put any other burden of payment on our users, no hidden fee or any surcharges, we only make money when our users decide to use the services of our companions.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              HOW DO I BECOME A SHAREHOLDER ?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Be an active user of our platform for more than six months. Companions start accumulating point after thirty (30) companionship appointments. Companion seekers begin gathering point after six(6) months.
          </div>
        </div>
      </div>
        <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              WHAT HAPPENS IF I CANCEL MY APPOINTMENT ?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            As long as you cancel your appointment 24hours before the scheduled time you will get 100% refund, anything less than that will get you a 50% return.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
