<body style="background-color: #ffffff;" itemscope itemtype="http://schema.org/WebPage">
  <main itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
    <section class="home_div">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" id="car1">
              <div class="container">
                <h1 class="text-center scrollh1">ERRANDS | HOME SUPPORT | COMPANIONSHIP  INDEPENDENT LIFESTYLE</h1>
                <!-- <h2 class="text-center scrollh2">Citizens that care about seniors are here to help </h2>
                <h3 class="text-center scrollh3">First step before home care </h3> -->
              </div>
            </div>
            <div class="carousel-item" id="car2">
              <div class="container">
                <h1 class="text-center scrollh1">LAUGH, ENGAGE IN YOUR COMMUNITY, AND BUILD MEANINGFUL RELATIONSHIPS</h1>
                <!-- <h2 class="text-center scrollh2">Laugh, engage in your community, and build meaningful friendships </h2> -->
                <!-- <h3 class="text-center scrollh3">Laugh, engage in your community, and build meaningful friendships. </h3> -->
              </div>
            </div>
            <div class="carousel-item" id="car3">
              <div class="container">
                <h1 class="text-center scrollh1">ITS YOUR LIFE LIVE IT THE WAY YOU WANT</h1>
                <!-- <h2 class="text-center scrollh2">Focus on how your life will improve. </h2>
                <h3 class="text-center scrollh3"> keep a positive attitude and a sense of humor. </h3> -->
              </div>
            </div>
          </div>
        </div>
    </section>
    <section itemprop="about" itemscope itemtype="http://schema.org/Service" class="container">
        <meta itemprop="serviceType" content="Senior Health Care"/>
        <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
          <h1 class="text_header">WHAT YOU GET FROM <span itemprop="name">SENYOURS</span> PLATFORM<h1>
        </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <img src="/assets/verified.png" class="font">
          </div>
          <h2 class="text-center font_p_1">VERIFICATION AND PROTECTION</h2>
          <p class="font_p">
            Our senior care Companions must pass a rigorous criminal background check. Our elderly care comprehensive insurance has seniors and their belongings covered.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <img src="/assets/time.png" class="font">
          </div>
          <h2 class="text-center font_p_1">PUNCTUAL</h2>
          <p class="font_p">
            Senior care Companions are available from 7 am to 9 pm every day. Need elderly care companionship on short notice? No problem. Our senior Companions provide support when you need. We understand seniors.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <img src="/assets/phone.png" class="font">
          </div>
          <h2 class="text-center font_p_1">SUPPORT STAFF</h2>
          <p class="font_p">
            Our local support staff are available for home care 24/7. We are always here to answer your elderly care questions. Comfort and elderly care are a phone call away.!
          </p>
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center font_p_1">
            <img src="/assets/car.png" class="font">
          </div>
          <h2 class="text-center font_p_1">TRANSPORTATION</h2>
          <p class="font_p">
            Senior care Companions ride with you wherever you need to go. On BART, the bus, or in your car. Companion are happy to ride with you.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <img src="/assets/shop.png" class="font">
          </div>
          <h2 class="text-center font_p_1">SHOPPING</h2>
          <p class="font_p">
            Senior adults, you can prepare your favorite dishes with the help of our care Companions. This home care includes preparing easy meals you love to eat. Take a Companion to the grocery store for lifting heavy bags in and out of the car.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 font_back">
          <div class="text-center">
            <img src="/assets/sports.png" class="font">
          </div>
          <h2 class="text-center font_p_1">ACTIVITIES</h2>
          <p class="font_p">
            At home, in the park, or anywhere you want to go, our senior care Companions are there to support your active, senior lifestyle. Elderly care providers are always up for museums, movies, or just a casual walk through the park. We get that seniors are motivated. You need an active senior care Companion, not a boring one.
          </p>
        </div> -->
      </div>
    </section>

<!-- how it works section -->
    <section class="container">
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="text_header">HOW IT WORKS</h1>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="circle" id="circle1">
            <div class="circle-text">
              <h1>Hello</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="circle" id="circle2">
            <div class="circle-text">
              <h1>Hello</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="circle" id="circle3">
            <div class="circle-text">
              <h1>Hello</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>

    </section>

    <section class="container" style="padding-top: 20px; padding: 20px;">
      <div itemprop="provider" itemscope itemtype="http://schema.org/Organization" class="col-lg-12 text-center">
        <h1 class="servises_text_header"><span >OUR SERVICES</span><h1>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-6">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <img src="/assets/if_cell-2-0_234509.png" class="services_font">
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">SHOPPING</h2>
              <p class="services_font_p">Malls, local shops</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <img src="/assets/if_broom_household_housekeeping_clean_wash_887146.png" class="services_font">
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">LIGHT HOUSEKEEPING</h2>
              <p class="services_font_p">Laundry,Vacuum, light cleaning, arrangement</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <img src="/assets/if_080_392196.png" class="services_font">
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">TRANSPORTATION</h2>
              <p class="services_font_p">Drive your ride, share ride services</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <img src="/assets/if_071_392191.png" class="services_font">
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">MEAL PREPARATION</h2>
              <p class="services_font_p">Cooking, Vegetable mixing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <img src="/assets/if_054_392182.png" class="services_font">
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">COMPANIONSHIP</h2>
              <p class="services_font_p">socialization,events, movies</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-4">
              <img src="/assets/if_074_392193.png" class="services_font">
            </div>
            <div class="col-lg-9 col-md-8 col-8">
              <h2 class="font_p_1">ERRANDS</h2>
              <p class="services_font_p">Gardening, pick up items, </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section itemprop="about" itemscope itemtype="http://schema.org/ProgramMembership" class="container">
      <div class="row comp_div">
        <div class="col-lg-12 text-center">
          <h1 class="text_header">HEAR FROM OUR COMPANIONS<h1>
        </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-lg-4 col-md-4" style=" height: 550px;">
            <div class="comp_img_div" style="background-image: url(/assets/head_shot_copy.jpg);"></div>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Merty Mcgraw</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">San francisco</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp">
              <p>"I have learned so much from the seniors I have worked with. Senyours is a great way for me to build meaningful relationships while serving my community and it works with my busy schedule!"</p>
            </div>
          </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-lg-4 col-md-4" style=" height: 550px;">
            <div class="comp_img_div" style="background-image: url(/assets/wale-compress-image.jpg);"></div>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Wale Kareem</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">San francisco</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp">
              <p>"I am a Companion after work and on the weekends. For me being a Companion is a way to give back to the wonderful world I live in.  Everyone deserves a smile."</p>
            </div>
          </div>
          <div itemprop="member" itemscope itemtype="http://schema.org/Person" class="col-lg-4 col-md-4" style=" height: 550px;">
            <div class="comp_img_div" style="background-image: url(/assets/jamez.png);"></div>
            <div class="comp_img_text">
              <p class="notification"> <strong itemprop="name">Mez Manning</strong>,  <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place"><span itemprop="name">San francisco</span></span></p>
              <meta itemprop="jobTitle" content="Companion"/>
            </div>
            <div class="comp_img_descrp" id="what_we">
              <p>"The Senior adults I help always put a smile on my face. . Impacting others with joyous moment is something I appreciate about being a Companion."</p>
            </div>
          </div>
      </div>
    </section>
    <section class=" row who_we" >
      <div class="col-lg-6">
        <h1 class="text-center notification">WHO WE ARE</h1>
      </div>
      <div class="col-lg-6">
        <p><!-- Senyours connects seniors with verified, background checked local citizens in their community to help with basic daily activities (shopping, laundry, medical appointment) and socialization(walks, meals, outings) for an hourly fee. We are the first step towards home care. We understand seniors need their indepence, just a little support sometimes. -->
        We connect senior adults with veriﬁed, background checked local citizens in their community. For an affordable rate, our Companions help seniors with their daily activities shopping, laundry, and medical appointments. Companions are also happy to join you on walks, meals, and outings. We are the first step towards home care. We understand that sometimes seniors need a little support to maintain their independent lifestyle. Our team of talented senior care Companions are excited to provide the support you need. We are an outstanding group that loves sharing our culture of inclusiveness.
        <!-- The following sentences don't fit with the header/rest of the paragraph. They should be moved. Who is being addressed also changes throughout the site. Are we marketing to seniors themselves or to their family? --><!-- Our platform is easy to navigate. We have designed an intuitive platform so you can quickly find what you need. We provide punctual Companions from 7 am to 9 pm every day, even on short notice. -->
        </p>
      </div>
    </section>
    <section class="values">
      <div class="container">
        <h1 class="text-center edit_tag">OUR VALUES</h1>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">EVERYONE IS WELCOME</h2>
            <p class="font_p">
            We believe that everyone is unique in their own way. We don’t discriminate. A senior care Companion’s verified background check allows them to use the Senyours platform.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">PEOPLE BEFORE PROFIT</h2>
            <p class="font_p">
            Senyours believes happy senior adults create company value. Reinvesting 20% our profits into the seniors and senior care Companions that use our platform is just one way we make this happen.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">HUMAN KINDNESS</h2>
            <p class="font_p">Human kindness is at the core of our elderly care services! Companions begin relationships with seniors from a place of understanding.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">RESPECT</h2>
            <h2 class="font_p">We are all diﬀerent. Senyours believes in treating you the way you treat yourself. It’s how we pass the best elderly care provider experience on to seniors.
            </h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">COMMUNITY</h2>
            <p class="font_p">We are building a community of senior adult and elderly care providers. Our goal is to inspire more people to volunteer at senior events that support humanity.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 font_back_val">
            <h2 class="text-center font_p_1">FUN</h2>
            <p class="font_p">We have fun where we work. Our senior care Companions want the same fun for our seniors. Our elderly care providers are always thrilled to join the activities seniors love.!</p>
          </div>
        </div>
      </div>
    </section>
    <div class="image2_div">
        <h1 class="scrollh1">YOUR HAPPINESS IS OUR PRIORITY.</h1>
    </div>
    <div class="faq container">
      <div>
        <p class="text-center edit_tag">Frequently Asked Questions</p>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                WHAT DOES SENYOURS DO ?
              </button>
            </h5>
          </div>


        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Senyours is a platform that connects, verified companions with senior adults that need companionship, either to run errands, shop, socialize or just talk.
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                WHO ARE YOUR COMPANIONS ?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Senyours Companions are individuals that come from all walks of life that have gone through a background check and verified. They review training materials and always happy with what they do.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                HOW DOES SENYOURS MAKE MONEY ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              We make money from hourly rate Companion Seekers pay their companion. We don't put any other burden of payment on our users, no hidden fees or any surcharges, we only make money when our users decide to use our service.
            </div>
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                HOW DO I BECOME A SHAREHOLDER ?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Be an active user of our platform for more than six months. Companions start accumulating point after thirty (30) companionship appointments. Companion seekers begin gathering point after six(6) months.
            </div>
          </div>
        </div> -->
          <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                WHAT HAPPENS IF I CANCEL MY APPOINTMENT ?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              As long as you cancel your appointment 24 hours before your scheduled apponintment you will get a 100% refund. If you cancel after 24 hours you'll receive a 50% return.
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
    (function(d, w, c) {
    w.ChatraID = 'CraZHDarmzW2h7DBC';
    var s = d.createElement('script');
    w[c] = w[c] || function() {
      (w[c].q = w[c].q || []).push(arguments);
    };
    s.async = true;
    s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
    + '//call.chatra.io/chatra.js';
    if (d.head) d.head.appendChild(s);
  })(document, window, 'Chatra');
  </script>
</body>
