<body style="background-color: white;">
<div class="home_div">
  <div class="image_div">
    <p>Combating loneliness with companionship</p>
  </div>
  <div class="container">
  <div class="row comp_div">
    <div class="col-lg-12 text-center">
      <p>MEET YOUR COMPANIONS<p>
    </div>
    <% 2.times do %>
      <div class="col-lg-6 col-md-6" style=" height: 550px;">
        <div class="comp_img_div"></div>
        <div class="comp_img_text">
          <p class="notification"> <strong>John Ledgend</strong>,  San francisco</p>
        </div>
        <div class="comp_img_descrp">
          <p>Description: "I started driving with Uber because I liked the idea that my own car could make me money. After just about a couple weeks, I saw that this was something I wanted to do permanently."</p>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div class=" row who_we" id="what_we">
  <div class="col-lg-6">
    <p class="text-center notification">WHO WE ARE</p>
    <p class="text-center">THE THINGS THAT MAKES US UNIQUE</p>
  </div>
  <div class="col-lg-6">
    <p>SenYours is a growing community that supports seniors that wish for companionship. Companionship that is rooted in respect, dignity, compassion and love. Companionship that provides both parties a meaningful service that anyone can sign up for, that fills the gaps of today’s society and that encourages true human connections.

    SenYours sole goal is to combat loneliness. While technology provides powerful ways to connect with people from all around the world, it can equally contribute a great deal to feeling lonely, lost, depressed or angry. However, we leverage technology to initiate true connections that foster mental stability, prevent depression, Alzheimer and the likes.

    SenYours makes companionship affordable and gains traction where the system fails. All companions undergo a background check. There is no certification required. We provide companionship at both parties' convenience. Be it full-time or part-time, handling shopping, a mutual walk, a great meal — it is your choice.</p>
  </div>
</div>
<div class="image2_div">
    <p>Your Happiness is an important priority, Each companionship will leave you with a smile</p>
</div>
</body>
<!-- <div class="container">
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
     <i class="fa fa-heart-o font" aria-hidden="true"></i>
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <i class="fa fa-shopping-basket font" aria-hidden="true"></i>
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 font_back">
    <div class="text-center">
      <i class="fa fa-car font" aria-hidden="true"></i>
    </div>
    <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
</div>
</div> -->
