<div class="need_com_img">
</div>
<div>
<div class="container">
  <div class="row why_this_comp">
    <div class="col-lg-6 why_this_img"></div>
    <div class="col-lg-6 why_this_div">
      <h2>Why Choose us</h2>
      <p>- Freedom</p>
      <p>- Every companion is verified</p>
      <p>- Schedule when you need companion</p>
      <p>- Get matched with people around you</p>
      <p class="why_this_par_last">- Use us often and become a shareholder $$</p>
      <a href="/users/new"><button class="btn become_submit">Sign up</button></a>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/verified.png" class="font">
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/phone.png" class="font">
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/calender (1).png" class="font">
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/car.png" class="font">
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/shop.png" class="font">
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/time.png" class="font">
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div>

