<div class="need_com_img">
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/verified.png" class="font">
      </div>
      <p class="font_p">Your safety means everything to us. Despite a thorough background check for all companions we have you covered with our insurance for liability, auto and theft –just in case.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/phone.png" class="font">
      </div>
      <p class="font_p">Our local support staff is available 24/7 to answer any questions. Our companions are available on short notice to attend to your needs or to simply check in.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/calender (1).png" class="font">
      </div>
      <p class="font_p">Our calendar matches you with companions around you. With frequent use you can always pick your favourite companions too.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/car.png" class="font">
      </div>
      <p class="font_p">Get or share a safe and comfortable ride with a companion. Wherever you need to go, we take you there in your preferred way of transportation.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/shop.png" class="font">
      </div>
      <p class="font_p">We shop, cook, eat, clean the dishes for or with you. We‘re also happy to swap recipes if you like. We come to satisfy all other shopping needs that you have, too.</p>
    </div>
    <div class="col-lg-4 form_div">
      <div class="text-center">
        <img src="/assets/time.png" class="font">
      </div>
      <p class="font_p">Companions are available at your convenience. You can schedule and pay by the hour or schedule and pay longer terms.</p>
    </div>
  </div>
</div>
<div>
<div class="container">
  <div class="row why_this_comp">
    <div class="col-lg-8 sen_why_this_img"></div>
    <div class="col-lg-4 why_this_div">
      <h2 style="padding-bottom: 15px;">Why Choose us</h2>
      <p><img src="/assets/mark.png" class="be_a_comp_icons"> Freedom</p>
      <p><img src="/assets/mark.png" class="be_a_comp_icons"> Every companion is verified</p>
      <p><img src="/assets/mark.png" class="be_a_comp_icons"> Schedule when you need companion</p>
      <p><img src="/assets/mark.png" class="be_a_comp_icons"> Get matched with people around you</p>
      <p class="why_this_par_last"><img src="/assets/mark.png" class="be_a_comp_icons"> Use us often and become a shareholder $$</p>
      <a href="/users/new"><button class="btn become_submit">Sign up</button></a>
    </div>
  </div>
</div>
</div>

