<div class="need_com_img">
</div>
<div>
<div class="container why_this">
  <div class="row">
    <div class="col-lg-6 why_this_img"></div>
    <div class="col-lg-6 why_this_div">
      <h1>Why Choose us</h1>
      <p>- Freedom</p>
      <p>- Every companion is verified</p>
      <p>- Schedule when you need companion</p>
      <p>- Get matched with people around you</p>
      <p>- Use us often and become a shareholder $$</p>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="text-center font">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4">
      <div class="text-center font">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4">
      <div class="text-center font">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4">
      <div class="text-center font">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4">
      <div class="text-center font">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-lg-4">
      <div class="text-center font">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </div>
      <p class="font_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div>

