<div class="container" style="margin-top: 60px">
  <h1>PAYMENT POLICY</h1>
  <h4 class="policy_header notification">Card policy</h4>
  <p>You agree to keep a current credit or debit card on file with us
      in order to make appointments. All booked appointments will be
      charged immediately upon completion of the scheduled appointment. We
      have the right to place a hold on your credit card for an ordered or
      completed appointments. You agree that we may charge your method of payment
      for verification and pre-authorization purposes, and you agree to bear
       additional charges that your bank or other financial service provider may
      charge you. We use third party services to process credit card information.</p>
  <div>
    <h4 class="policy_header notification">Cancellation by Senior</h4>
    <p>You must cancel your Companion appointment at least 24 hours prior to the
      appointment to receive a full refund. You authorize a charge of 50% of your
      appointment fee to your preferred method of payment for any scheduled appointments
       that are not canceled within the 24 hour requirement.</p>
  </div>
  <div>
    <h4 class="policy_header notification">Cancellation of Companion</h4>
    <p>
      If a Companion is unable to make a scheduled appointment, we will put forth
      reasonable effort to find a replacement in sufficient time. If no replacement
      is available, you will be reimbursed for the appointment. We will not otherwise
      be responsible for any inability to provide a substitute Companion.
    </p>
  </div>
</div>
