<button class="btn btn-warning cal_but disabled">
  <p class="notification"><%= @availableDay.date.strftime('%b') %></p>
  <p class="notification"><%= @availableDay.date.strftime('%d') %></p>
  <p class="notification"><%= @availableDay.date.strftime('%a') %></p>
</button>
