<% date = params[:date]%>
  <%= link_to set_date_available_path(current_user, date: date,  available_day: {date: date, comment: "I am ready", user_id: current_user.id}), id: "set_date_remove_#{date}", remote: true do %>
    <div class="btn days_cal_but" style="background-color: white;">
      <!-- Display Day (name) of the Week -->
      <p class="notification work_p"><%= date.to_time.strftime('%a') %></p>
      <!-- Display Date (number) of the Week -->
      <p class="notification work_p"><%= date.to_time.strftime('%d') %></p>
    </div>
  <% end %>
  <div id="set_times_tab_<%= date %>" class="set_times_tab">
    <!-- There is an invisible character below  -->
    　
  </div>
