<body style="background-color: #4c4c4c;">
<div class="container text-center avail_form_top">
  <div class="form_div text-center notification">
    <% if current_user.identification === "Senior" %>
      <p class="notification edit_tag">Which dates do you need companions</p>
    <% else %>
      <p class="notification">We encourage you to schedule your time wisely</p>
    <% end %>
  </div>

<div class='container'>
  <div class='calendar'></div>
  <div id='remote_container'></div>
</div>


  
 
  <div>
      <%= link_to 'Confirm Dates', user_path(current_user),style:'text-decoration:none; color:black' , class: 'btn comp_submit'  %>
  </div>
</div>
</body>
