<div id='password_blog_container'>
      <div id='password_blog_form_continer'>
            <%= form_for :input, url: '/password_authenticate', method: 'post' do |f| %>
            <div class='password_blog_form_section'>
                  <%= f.label :password, id: 'password_blog_form_title' %>
            </div>
            <div class='password_blog_form_section'>
                  <%= f.text_field :password, id: 'password_blog_form_text_field'  %>
            </div>
            <div class='password_blog_form_section'>
                  <%= f.submit 'Submit', id: 'password_blog_form_submit' %>
            </div>
            <% end %>
      </div>
</div>
