<div id='password_blog_container'>
      <div id='password_blog_form_continer'>

            <%= form_for :input, url: '/password_authenticate', method: 'post' do |f| %>
            <div id='password_blog_form_section'>
                  <%= f.label :password %>
            </div>
            <div id='password_blog_form_section'>
                  <%= f.text_field :password  %>
            </div>
            <div id='password_blog_form_section'>
                  <%= f.submit 'Submit' %>
            </div>
            <% end %>

      </div>
</div>
