.about_img_manage {
  object-fit: cover;
  height: 450px;
  width: 85%;
  border-radius: 50%;
  border-style: solid;
}

.about_img_team {
  object-fit: cover;
  height: 40%;
  width: 85%;
  border-radius: 50%;
  border-style: solid;
}

.about_text_header{
  color: orange;
  font-size:40px;
  letter-spacing: 3px;
  padding-top:20px;
  width: 100%;
  text-align: center;
  margin: 10px 0 20px;
}
.about_text_header span {
    background:#fff;
    padding:0 10px;
}

.about_text_p {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  text-align: center;
}