* {
  box-sizing: border-box;
}
// Place all the styles related to the Appointment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appointment_top_form{
  padding-top:20px;
  margin-top:100px;
  margin-bottom:0px;
  background-color:#f5f5f5;
  font-family:'Muli', sans-serif;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  color:orange;
  width:30%;
  border-radius:3px;
  @media screen and (max-width:1440px) {
    padding-top:40px;
    margin-top:0px;
    width:30%;
    border-radius:3px;
  }
  @media screen and (max-width: 1024px) {
    padding-top:40px;
    margin-top:90px;
    width:40%;
    border-radius:3px;
  }
   @media screen and (max-width:768px) {
    padding-top:40px;
    margin-top:90px;
    width:50%;
    border-radius:3px;
  }
   @media screen and (max-width: 425px) {
    padding-top:40px;
    margin-top:0px;
    width:100%;
    border-radius:3px;
    background-color:transparent;
  }
}
#appointments_container {
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
  padding-top: 0.8rem;
  margin: 0px 15px;
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 1rem;
  line-height: normal;
  justify-content: center;
  @media screen and (max-width: 414px) {
    margin: 0px 5px;
    margin: 18px;
    width: 91%;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 5px;
    margin: 18px;
    width: 89%;
  }
}

#appointment_list_container {
  max-height: 609px;
  overflow: scroll;
  min-width: 320px;
}

.empty-appointments-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment_view_remove_div {
  margin-bottom: 0.5rem;
}

.transactions-header {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid black;
  @media screen and (max-width: 435px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 320px) {
    font-size: 1.5rem;
  }
}

.appointment-container {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 3px solid orange;
  height: 150px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  padding-bottom: 0.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.participants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;
  width: 100%;
  @media screen and (max-width: 640px){
    font-size: 0.9rem;
  }
  @media screen and (max-width: 414px) {

  }
  @media screen and (max-width: 320px) {

  }
}

.senior-appointment {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.comp-appointment {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.appointment-user-image {
  width: 45%;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 1000px){
    width: 38%;
  }
  @media screen and (max-width: 640px){
    margin: 0px;
  }
  @media screen and (max-width: 414px) {
    width: 40%;
  }
  @media screen and (max-width: 320px) {
    width: 35%;
  }
}

.fa-caret-down {
  font-size: 1.7rem;
  align-self: flex-end;
  color: orange;
  display: block;
}

.fa-caret-up {
  font-size: 1.7rem;
  align-self: flex-end;
  color: orange;
  display: none;
}

.appointment-info {
  overflow: hidden;
  display: none;
  background-color: rgba(0,0,0,0.1);
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.pending {
  color: orange;
  font-weight: bold;
}

.accepted {
  color: green;
  font-weight: bold;
}

.appointment-status {
  margin-bottom: 1rem;
}

.fa-caret-down:hover, .fa-caret-up:hover {
  color: #cc7000;
  cursor: pointer;
}

.cancel_appointment_button {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  @media screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.cancel_appointment_button:hover {
  background-color: #CD0E0E;
  color: white;
  text-decoration: none;
}

.accept_appointment_button {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  @media screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.accept_appointment_button:hover {
  background-color: #24A909;
  color: white;
  text-decoration: none;
}

.decline_appointment_button {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  @media screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.decline_appointment_button:hover {
  background-color: #CD0E0E;
  color: white;
  text-decoration: none;
}

.no-appointments-message {
  font-style: italic;
  font-size: 1.2rem;
  margin: 0.4rem;
  @media screen and (max-width: 414px) {
    font-size: 1.1rem;
  }
  @media screen and (max-width: 320px) {
    font-size: 1.1rem;
  }
}

// ----- CALENDAR STYLES -----

#calendar_color_legend{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.7em;
  @media screen and (max-width:1440px) {
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    font-size: 0.8em;
  }
   @media screen and (max-width:768px) {
     flex-direction: column;
     font-size: 0.9em;
  }
   @media screen and (max-width: 425px) {
     flex-direction: column;
     font-size: 0.7em;
   }
}
.calendar_color_item{
  margin: 0 5px;
}
