
/* Shared Class */
#index_container_background{
  background: linear-gradient(-90deg, rgb(238, 178, 107), rgb(237, 230, 135), rgb(238, 178, 107));
  font-family: 'Muli', sans-serif;
}
#index_container {
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  font-size: 100%;
  margin: 0 auto;
  min-width: 90%;
  max-width: 90%;
  min-height: 100%;
  max-height: 100%;
}




/* BEGIN Blog Index Page */
#index_blog_container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  max-width: 80%;
  min-width: 80%;
  border-bottom: 3px black solid;
  padding: 10px;
  margin: 5px;
}
  #index_blog_date_container{
    flex: 1;
    flex-basis: 1 1 30%;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    align-items: baseline;
    text-align: center;
    margin: 5px;
  }
  #index_blog_title_container{
    flex: 6;
    flex-basis: 1 1 70%;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
  }
    #index_blog_date{
      color: black;
      border-top: 2px black solid;
      border-bottom: 2px black solid;
      border-radius: 25%;
      margin: 15px;
      padding: 10px;
      font-size: 100%;
      // background: #fff;
      background: #ffc107;
    }
    #index_blog_title{
      font-size: 200%;
      border-top: 3px black solid;
      border-bottom: 3px black solid;
      color: black;
      background: #fff;
      border-radius: 20px;
      text-decoration: none; /* no underline */
      text-shadow: 1px 1px black;
      transition:
        border 0.3s ease-out,
        color 0.3s ease-out,
        background 0.3s ease-out,
        box-shadow 0.3s ease-out;
      width: 100%;
      margin: 0 auto;
      padding: 10px;
    }
      #index_blog_title:visited{
        font-size: 200%;
        color: gray;
        text-decoration: none; /* no underline */
      }
      #index_blog_title:hover{
        font-size: 200%;
        color: black;
        text-decoration: none; /* no underline */
        border-left: 30px solid #ffc107;
        border-right: 30px solid #ffc107;
        border-top: 3px black solid;
        border-bottom: 3px black solid;
        box-shadow: 5px 5px 3px rgba(black, 0.15);
        background: #ffc107;
      }

  #pagination_container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
  }
  .pagination{

  }
    .pagination div{

    }
    .pagination a{

    }
    .pagination span{

    }
  /* END Blog Index Page */






  /* BEGIN Blog Show Page */
  #show_blog_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .blog_section{
    min-width: 100%;
  }

  /* Dividers */
  .top_divider{
    min-width: 60%;
    margin: 0 auto;
  }
  .bottom_divider{
    border-bottom: 3px black solid;
    padding-bottom: 20px;
    min-width: 60%;
    margin: 0 auto;
  }

  /* Article Top */

  #show_blog_top_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    min-width: 100%;
  }
    #show_blog_editor_box{
      flex-basis: 1 1 40%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      width: 250px;
      max-width: 250px;
      height: auto;
    }
      #show_blog_editor_image{

      }
        #show_editor_image{
          max-width: 100%;
          border-radius: 50%;
          border: 2px black solid;
          box-shadow: 3px 3px black;
        }
      #show_blog_editor_name{
        min-width: 100%;
        margin: 10px;
        font-size: 0.6em;
        border: 2px black solid;
        box-shadow: 3px 3px black;
      }

  #show_blog_title_box{
    flex-basis: 1 1 60%;
    padding-top: 15px;
    font-size: 100%;
    margin: 30px;
  }
    #show_blog_date_container{
      margin: 10px;
      font-size: 50%;
    }
    #show_blog_title_container{
      margin: 10px;
      font-size: 100%;
    }


  /* Article Image */
  #show_blog_image_container{
    max-width: 100%;
    max-height: 500px;
  }
    #show_blog_image{
      max-width: 100%;
      max-height: 500px;
      margin: 0 auto;
    }

  /* Article Body */
  #show_blog_body_container{
    padding-top: 20px;
    color: black;
  }
  /* END Blog Show Page */







  /* BEGIN Blog New Page */
#new_blog_form_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}
  #new_blog_form{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
  }
  /* END Blog New Page */





  /* BEGIN Blog ____ Page */
  /* END Blog ____ Page */
