.navbar {
  background-color: white !important;

  margin-bottom:50px !important;
}
// #36454F
.navbar a {
  color: black;
  font-family: 'Muli', sans-serif;
}
.dash {
  display: show;
  @media screen and (max-width:768px){
  display: none
  }
}
.nav_img {
  height:62px;
  width:62px;
  @media screen and (max-width:1024px){
    height:40px;
    width:40px;
  }
}
.navbar-brand {
  font-weight:600;
  color:orange !important;
  padding-left:40px;
  @media screen and (max-width:1024px){
    padding-left:0px;
  }
}
// #4c4c4c
.nav-link{
  color:orange !important;
  font-size:14px ;
  letter-spacing:1px;
  @media screen and (max-width:2560px){
    font-size:12px;
  }
  @media screen and (max-width:375px){
    font-size:10px;
  }
}
.nav-item a:hover {
  color:gray !important;
}
.lead_nav{
  padding-right:780px;
  @media screen and (max-width:1024px){
    padding-right:200px !important;
  }
   @media screen and (max-width:1440px){
    padding-right:580px;
  }
}
.logged_in_lead_nav{
  padding-left:1200px;
   @media screen and (max-width:1440px){
    padding-left:850px;
  }
  @media screen and (max-width:1024px){
    padding-left:650px;
  }
  @media screen and (max-width:768px){
    padding-left:0px;
  }
}
.header_button {
  height:40px;
  width:80px;
  color:white;
  background-color:orange;
  font-size:16px;
  font-weight:700;
  border-radius:3px;
  font-family:'Hind', sans-serif;
  @media screen and (max-width: 1440px) {
    height:30px;
  }
}
.header_button:hover {
  box-shadow:1px 1px 5px rgba(0,0,0,1);
}
.header_large_button {
  height:40px;
  width:200px;
  color: white;
  background-color: orange;
  font-size:16px;
  font-weight:700;
  border-radius:3px;
  font-family:'Hind', sans-serif;
  @media screen and (max-width: 1440px) {
    height:30px;
  }
}
.header_large_button:hover {
  box-shadow:1px 1px 5px rgba(0,0,0,1);
}
.humble_text {
  font-size:23px;
  font-style:italic;
}
.companion_text {
  margin-top:-0.6em;
  font-style:italic;
}


