.navbar {
  background-color: white !important;
 }
/*#36454F*/
.navbar a {
  color: black;
  font-family: 'Muli', sans-serif;
}
.dash {
  display: show;
  @media screen and (max-width:768px){
  display: none
  }
}
.nav_img {
  height:50px;
  @media screen and (max-width:1024px){
    height:40px;
  }
  @media screen and (max-width:768px){
    height:40px;
  }
}
.navbar-brand {
  font-weight:600;
  color:orange !important;
  padding-left:40px;
  @media screen and (max-width:1024px){
   padding-left:0px;
  }
}
/*#4c4c4c*/
.nav-link{
  color:orange !important;
  font-size:16px !important;
  letter-spacing:2px;
  @media screen and (max-width:375px){
    font-size:13px;
  }
}
.nav-item {
  padding-left:10px !important;
  @media screen and (max-width:1074px){
    padding-left: 0px !important;
  }
}
.nav-item a:hover {
  color:black !important;
  transition: all .3s ease-out;
  box-shadow:   0 2px 0 0;
  @media screen and (max-width:414px){
    box-shadow:   0 0 0 0;
  }
}
.navbar-nav{
    @media screen and (max-width:2560px){
    margin-left:34%;
  }
    @media screen and (max-width:1677px){
    margin-left:28%;
  }
   @media screen and (max-width:1571px){
    margin-left:23%;
  }
  @media screen and (max-width:1440px){
    margin-left:22%;
  }
  @media screen and (max-width:1412px){
    margin-left:10%;
  }
  @media screen and (max-width:1215px){
    margin-left:0;
  }
  @media screen and (max-width:1024px){
    margin-left:0;
  }
  @media screen and (max-width:465px){
    margin-left:0;
  }
}
.in_navbar-nav{
  margin-left:80%;
   @media screen and (max-width:2560px){
    margin-left:76%;
  }
   @media screen and (max-width:1440px){
    margin-left:70%;
  }
  @media screen and (max-width:1343px){
    margin-left:66%;
  }
  @media screen and (max-width:1211px){
    margin-left:62%;
  }

  @media screen and (max-width:1106px){
    margin-left:0;
  }
}
// .logged_in_lead_nav{
//   padding-left:1150px;
//    @media screen and (max-width:2560px){
//     padding-left:1150px;
//   }
//     @media screen and (max-width:1440px){
//     padding-left:840px;
//   }
//   @media screen and (max-width:1326px){
//     padding-left:520px;
//   }
//   @media screen and (max-width:768px){
//     padding-left:0px;
//   }
// }
.header_button {
  height:40px;
  width:80px;
  color:white;
  background-color:orange;
  font-size:16px;
  font-weight:700;
  border-radius:3px;
  font-family:'Hind', sans-serif;
  @media screen and (max-width: 1440px) {
    height:30px;
  }
}
.header_button:hover {
  box-shadow:1px 1px 5px rgba(0,0,0,1);
}
.header_large_button {
  height:40px;
  width:200px;
  color: white;
  background-color: orange;
  font-size:16px;
  font-weight:700;
  border-radius:3px;
  font-family:'Hind', sans-serif;
  @media screen and (max-width: 1440px) {
    height:30px;
  }
}
.header_large_button:hover {
  box-shadow:1px 1px 5px rgba(0,0,0,1);
}
.humble_text {
  font-size:23px;
  font-style:italic;
}
.companion_text {
  margin-top:-0.6em;
  font-style:italic;
}


