.review_form_top {
  padding-top:  20px;
  margin-top: 90px;
  width:45%;
  background-color:   white;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 50px;
  @media screen and (max-width: 1024px) {
    padding-top:  40px;
    margin-top: 30px;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 40px;
    background-color: none;
    border-radius: 0px;
  }
   @media screen and (max-width: 414px) {
    padding-top:  40px;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 20px;
    background-color: none;
    border-radius: 0px;
  }
     @media screen and (max-width: 320px) {
    padding-top:  40px;
    margin-top: 30px;
    border:none;
    font-size: 15px;
    padding-left: 17px;
    background-color: none;
    border-radius: 0px;
  }
}
.descrip_rev {
  height: 120px;
  width: 720px;
  border-radius: 6px;
  margin-left: -55px;
  @media screen and (max-width: 2560px) {
    width: 100%;
    margin-left: 0px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0px;
  }
  @media screen and (max-width: 320px) {
    width: 280px !important;
    margin-left: 0px;
  }
}
.h3_1{
  padding-right: 100px;
  font-family:'Muli', sans-serif;
  color: orange;
  @media screen and (max-width: 414px) {
    padding-right: 10px;
    font-size:12px;
  }
  @media screen and (max-width: 375px) {
    padding-right: 15px;
  }
}
.h3_2{
  padding-right: 79px;
  font-family:'Muli', sans-serif;
  color: orange;
  @media screen and (max-width: 414px) {
    padding-right: 0px;
    font-size:12px;
  }
  @media screen and (max-width: 375px) {
    padding-right: 5px;
  }
}
.h3_3{
  padding-right: 192px;
  font-family:'Muli', sans-serif;
  color: orange;
  @media screen and (max-width: 414px) {
    padding-right: 48px;
    font-size:12px;
  }
  @media screen and (max-width: 375px) {
    padding-right: 53px;
  }
}

