// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.responsive-input {
  // Large input box
  height: 60px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius:3px;
  font-family: 'Muli', sans-serif;
  color: orange;
  outline: none;
  @media screen and (max-width: 425px) {
    // Small input box
    height: 50px;
    width: 300px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.form_top {
  padding:  40px 0px;
  margin-top: 200px;
  // background-color: orange;
  width:30%;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  box-shadow-color: orange;
  border-radius: 6px;
  color: orange;
  @media screen and (max-width: 375px) {
    width: 100% !important;
  }

  @media screen and (max-width: 414px) {
    margin-top: 0px !important;
    background-color: transparent;
    box-shadow: none;
  }

  @media screen and (max-width: 1024px) {
    padding-top:  80px;
    margin-top: 100px;
    width: 80%;
  }
}

.form_div {
  padding-bottom:20px;
}

.sign_in_form_submit {
  height: 60px;
  width: 400px;
  color: white;
  background-color: orange;
  // border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  @media screen and (max-width: 425px) {
    height: 50px;
    width: 300px;
  }
}

.form_submit {
  height: 60px;
  width: 200px;
  color: white;
  background-color: orange;
  // border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  @media screen and (max-width: 1440px) {
    height: 50px;
  }
}
