// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: white;
}

.responsive-input {
  // Large input box
  height: 70px;
  width: 700px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;

  @media screen and (max-width: 1024px) {
    // Small input box
    height: 50px;
    width: 350px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px;
  }
}

.form_top {
  padding-top:  110px;
  margin-top: 90px;
  height: 400px;
  width:50%;
  background-color:   #fff047;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  border-radius: 6px;

  @media screen and (max-width: 1024px) {
    padding-top:  80px;
    margin-top: 100px;
    height: 300px;
    width: 100%;
    border-radius: 6px;
  }
}

.form_div {
  padding-bottom:20px;
}

.form_submit {
  height: 60px;
  width: 200px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  @media screen and (max-width: 1024px) {
    height: 50px;
  }
}
