// Services Box
.sen_services {
  margin: 0px 15px;
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
    @media screen and (max-width: 414px) {
    margin: 0px 5px;
    margin: 18px;
    width: 91%;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 5px;
    margin: 18px;
    width: 89%;
  }
}
.sen_service_section{
  padding-top: 5px;
  border-bottom: 1px black solid;
}
.sen_service_tasks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.selected_tasks{
  color: blue;
  border: 1px blue solid;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.unselected_tasks{
  color: green;
  border: 1px green solid;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
