// Services Box
#sen_services_ajax {
  background-color: white;
  min-width: 100%;
  margin-bottom: 10px;
    @media screen and (max-width: 414px) {
    width: 90%;
  }
  @media screen and (max-width: 320px) {
    width: 89%;
  }
}
#sen_services_ajax{
}
.sen_service_section{
  padding-top: 5px;
  border-bottom: 1px black solid;
}
.sen_service_tasks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.selected_tasks{
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
#remove_task_button{
  border: 1px red solid;
  color: red;
}
#add_task_button{
  border: 1px green solid;
  color: green;
}
