html {
/*Footer stick to bottom with help of this*/
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
  background-color: white;
  padding-top:50px;
}
.profile_show{
  margin-top: 60px;
  @media screen and (max-width: 1440px) {
    margin-top:0px;
  }
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: initial;
}
.notification {
  margin-bottom: 0em;
}

.notification.user {
  font-family: 'Muli', sans-serif;
  text-shadow: 1px 1px #C4C4C4;
  color: #F0840A;
}

.join_date {
  font-family: 'Muli', sans-serif;
  text-shadow: 1px 1px #C4C4C4;
  color: #8F8989;
}

.user_contact_info {
  font-family: 'Muli', sans-serif;
}

.sign_up_form_top {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: white;
  font-family: 'Muli', sans-serif;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  color: orange;
  width: 26%;
  border-radius: 3px;
  opacity: 1;
  @media screen and (max-width: 2560px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 26%;
    border-radius: 3px;
  }
   @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 35%;
    border-radius: 3px;
  }
  @media screen and (max-width: 1024px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 40%;
    border-radius: 3px;
  }
   @media screen and (max-width: 768px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 50%;
    border-radius: 3px;
  }
   @media screen and (max-width: 425px) {
    margin-left:0;
    padding-top:  40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
  }
}
.sign_up_form_top .col-lg-12 {
  @media screen and (max-width: 320px) {
    padding-left: 0px;
  }
}

.sign_up_form_top h2{
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  padding-bottom: 20px;
}

.birth-disclaimer {
  font-size: 13px;
  margin-top: 0rem;
}

.option{
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.option-div_1 {
  padding-right:10px
}
.user_responsive-input {
  height: 45px;
  width: 85%;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  color: orange;
  border-style: solid;
  @media screen and (max-width: 2560px) {
    // Small input box
    height: 45px;
    width: 100%;
    padding: 5px 10px;
  }
  @media screen and (max-width: 320px) {
    width: 105% !important;
  }
}
.info_responsive-input {
  // Large input box
  height: 45px;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  color: orange;
  border-style: solid;
  @media screen and (max-width: 2560px) {
    /*Small input box*/
    height: 45px;
    width: 100%;
    padding: 5px 10px;
  }
  @media screen and (max-width: 320px) {
    width: 105% !important;
  }
}
.add_responsive-input {
  /*Large input box*/
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  color: orange;
  border-style: solid;
  @media screen and (max-width: 1440px) {
    /*Small input box*/
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  @media screen and (max-width: 320px) {
    width: 300px !important;
  }
}
.select_div{
  padding-left: 60px;
   @media screen and (max-width: 320px) {
    padding-left: 10px;
  }
}
.select_input_lead{
  height: 40px;
  border-color:orange;
  border-style: 1px solid red;
   @media screen and (max-width: 320px) {
    height: 30px;
  }
}
.select_input{
  height: 40px;
  width: 187px;
  border-color:orange;
  border-style: 1px solid red;
  @media screen and (max-width: 320px) {
    height: 30px;
  }
}
.sign_up_form_submit {
  height: 60px;
  width: 100%;
  color: white;
  background-color: orange;
  // border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  @media screen and (max-width: 256px) {
    height: 50px;
    width: 100%;
  }
  @media screen and (max-width: 320px) {
    width: 105% !important;
  }
}
.senior_edit_form_top {
  padding-top:  20px;
  margin-top: 90px;
  height: 450px;
  width:90%;
  background-color:   white;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  border-radius: 6px;
  @media screen and (max-width: 256px) {
    padding-top:  40px;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    border-radius: 3px;
  }
}
.comp_edit_req{
  background-color: orange;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  width:100%;
}
.comp_edit_form_top {
  padding-top:  20px;
  margin-bottom: 40px;
  background-color:   white;
  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
  }
}
.edit_responsive-input {
  height: 40px;
  //width: 600px;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  border-style: solid;
  border-color: orange;
/*  doesnt require as we are using form control
  @media screen and (max-width: 1440px) {
    Small input box
    height: 30px;
    width: 500px;
    padding: 5px 10px;
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    Small input box
    height: 30px;
    width:  450px;
  }
  @media screen and (max-width: 414px) {
    Small input box
    height: 30px;
    width:  280px;
  }
  @media screen and (max-width: 320px) {
    width: 240px;
    padding-left: 0px;
  }*/
}
.fee_div {
  padding-left: 40px;
  @media screen and (max-width: 320px) {
  padding-left: 20px;
  }
}
.descrip {
  height: 70px;
  width: 100%;
  border-radius: 6px;
  border-color:orange;

  @media screen and (max-width: 2560px) {
    width: 100%;
  }
   @media screen and (max-width: 414px) {
    width: 100%;
  }
  @media screen and (max-width: 320px) {
    width: 100%;
  }
}
.index_div{
   margin-top:60px;
}
.comp_show {
  height: 400px;
}
.comp_show a {
  text-decoration: none;
  color: black;
}
.comp_img {
  height: 70%;
  background-position: center;
  background-repeat: none;
  background-size:cover;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.comp_descrp {
  height: 25%;
  // border: 1px solid gray;
  border-top: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.comp_rate {
  height: 23px;
  position: absolute;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius:1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 425px) {
     top:0px !important;
  }
  @media screen and (max-width: 1024px) {
     top:10px;
  }
}
.edit_n_comp_rate {
  color: orange;
  height: 23px;
  position: absolute;
  top:76%;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius:1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 425px) {
     top:74% !important;
  }
  @media screen and (max-width: 1024px) {
     top:76%;
  }
}
.edit_tag{
  color: orange;
  text-decoration: none;
}
.edit_tag {
  color: orange;
}
.edit_tag:link{
  text-decoration: none;
}
.image-upload > input
{   // display: none
   display: show;
}
.image-upload > label{
  cursor:pointer;
}
.comp_fee {
  height: 23px;
  position: absolute;
  right: 15px;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius:1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 425px) {
     top:0px !important;
  }
  @media screen and (max-width: 1024px) {
     top:10px;
  }
}
.sen_img_app {
  margin: 0px 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
  width: 96%;
  @media screen and (max-width: 640px){
    margin: 20px;
    width: 90%;
  }
  @media screen and (max-width: 320px){
    width: 89%;
  }
}
.sen_image {
  height: 350px;
  @media screen and (max-width: 640px){
    height: 350px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.no_cont{
  @media screen and (max-width: 640px){
  padding-left: 0px;
  padding-right: 0px;
  }
}
.sen_img_upper {
  height: 60%;
  width: 100%;
  background-position: top center;
  background-repeat: none;
  background-size:cover;
  margin-top:10px;
  border-radius:3px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 640px){
    margin: 0px;
  }
}
// .sen_img_lower {
//   height: 20%;
//   /*Understand Flex box*/
//   display:flex;
//   align-items:center;
//   justify-content: space-around;
// }

.sen_app {
  margin-top: 15px;
  font-family: 'Muli' sans-serif;
}
.sen_app_par {
  font-weight:700;
  font-size: 20px;
}
.sen_rating {
  margin: 0px 15px;
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
    @media screen and (max-width: 414px) {
    margin: 0px 5px;
    margin: 18px;
    width: 91%;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 5px;
    margin: 18px;
    width: 89%;
  }
}
.accept{
  width:100%;
  margin-left: 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    margin-left:17px;
    width: 96%;
  }
    @media screen and (max-width: 414px) {
    margin-left:20px;
    width: 90%;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 5px;
    width: 98%;
  }
}
.calender{
  padding-top:10px;
  font-size: 20px;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
   background-color: white;
   width: 96%;
   @media screen and (max-width: 640px){
    margin: 20px;
  }
}
.sen_stars {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  font-weight:500;
  font-size: 18px;
  @media screen and (max-width: 1440px) {
    font-weight: 0;
    font-size: 12px;
  }
}
.responsive-image {
  width:60px;
  height:60px;
  @media screen and (max-width: 640px) {
    width:60px;
    height:60px;
  }
}
.img-circle {
  border-radius: 60px;
}
.review_div {
  padding-top: 50px;
}
.sen_comp {
  margin: 0px 15px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius:3px;
}

.profile_user_stats {
  padding-bottom: 0;
}

.profile_hover {
  padding-left: 43%;
  padding-top: 0;
  padding-bottom: 10%;
}

.profile_drop {
  display: block;
  padding-right: 0;
  padding-bottom: 0;
  height: 40px;
  width: 45px;
  border: 1px solid #D1D0CF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px black;
}

.triangle {
  padding-top: 20%;
  text-align: center;
  color: orange;
}

.profile_drop:hover {
  background-color: #FC9935;
  border: #EEE8E1;
  box-shadow: 1px 1px 1px #9F9F9F;
  .triangle:hover {
    color: white;
  }
}


.sen_img_upper{
  height: 185px;
  display: inline-block;
  box-shadow: 5px 8px 3px #D7CDC8;
}

.col-lg-6.col-md-6.sen_image {
  padding-top: 3%;
  height: auto;
}

.col-lg-6.col-md-6.sen_app {
  height: auto;
  padding-bottom: 0;
}

.edit_profile.a {

  color: #F06824;

}

.about_user {

  padding-top: 0;

}

.about_me {
  color: orange;
  font-family: 'Muli';
  padding-left: 28%;

}

.comp_description {
  display: none;
  text-align: justify;
  padding-right: 18%;
  padding-left: 18%;
  padding-bottom: 10%;
}

.comp_description:hover {
  padding-left: 15%;
  display: inline-block;
  margin: 16px 0px;;
  font-family: 'Muli';
  border-radius: 3px;
  width: 65%;
  padding-left: 15%;
  padding-right: 15%;

  overflow-wrap: break-word;
  @media screen and (max-width: 640px) {
    margin: 20px 0px;
  }
}
.comp_app_req {
  padding: 0 15px;
  margin: 15px;
  border-radius: 3px;
  @media screen and (max-width: 640px) {
    margin: 5px;
  }
}
.rev_paragraphs {
  font-size: 14px;
  @media screen and (max-width: 640px) {
    font-size: 15px;
  }
}
.daite {
  margin: 0px 5px;
}
.user_rev_par{
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;;
}
.date_time{
  display: none;
}
.edit_tab1{
  margin-top: 60px;
  @media screen and (max-width: 480px) {
    margin-top: 30px
  }
}
.edit_tab2{
  margin-top: 60px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 0px 0px;
  border-radius: 6px;
  @media screen and (max-width: 480px) {
    margin-top: 10px
  }
}
#sen_services_tasks_container{
  margin: 0px 15px;
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
    @media screen and (max-width: 414px) {
    margin: 0px 5px;
    margin: 18px;
    width: 91%;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 5px;
    margin: 18px;
    width: 89%;
  }
}


.main_senior{
  display:none;
}

.guardian_senior{
  display:none;
}

// Appointments to Accept or Decline Pop Up
  .appointment_pop_up_all_container{
    background-color: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .appointment_pop_up_individual_container{
    padding: 3px 10px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    background-color: white;
  }
  .appointment_pop_up_button{
    background-color: orange;
    border: none;
    color: white;
    padding: 3px 10px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition:
      background-color 0.3s ease;
  }.appointment_pop_up_button:hover{
    text-decoration: none;
    color: white;
    background-color: #ffc966;
  }


// Stripe Section & Buttons
  #stripe_section_container{
    margin: 0px 15px;
    width: 96%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    background-color: white;
    margin-bottom: 10px;
      @media screen and (max-width: 414px) {
      margin: 0px 5px;
      margin: 18px;
      width: 91%;
    }
    @media screen and (max-width: 320px) {
      margin: 0px 5px;
      margin: 18px;
      width: 89%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #stripe_account_ajax{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .stripe_connect_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    color: white;
    background-color: orange;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0px;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 700;
    transition:
      color 0.5s ease,
      text-decoration 0.5s ease,
      background-color 0.5s ease;
    @media screen and (max-width: 1440px) {
      height: 50px;
    }
  }.stripe_connect_button:hover{
    color: black;
    background-color: rgba(252, 179, 69, 0.4);
    text-decoration: underline;
    @media screen and (max-width: 1440px) {
      height: 50px;
    }
  }
