// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
// Footer stick to bottom with help of this
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
  background-color: white;
  padding-top:50px;
}
.profile_show{
  margin-top: 60px;
  @media screen and (max-width: 1440px) {
    margin-top:0px;
  }
}
.notification {
  margin-bottom: 0em;
}
.sign_up_form_top {
  padding-top: 20px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  font-family: 'Muli', sans-serif;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  color: orange;
  width: 30%;
  border-radius: 3px;
  opacity: 1;
  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 30%;
    border-radius: 3px;
  }
  @media screen and (max-width: 1024px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 40%;
    border-radius: 3px;
  }
   @media screen and (max-width: 768px) {
    padding-top:  40px;
    margin-top: 90px;
    width: 50%;
    border-radius: 3px;
  }
   @media screen and (max-width: 425px) {
    padding-top:  40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
    background-color: transparent;
  }
}
.sign_up_form_top .col-lg-12 {
  @media screen and (max-width: 320px) {
    padding-left: 0px;
  }
}
.option{
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.option-div_1 {
  padding-right: 150px;
  @media screen and (max-width: 1440px) {
    padding-right: 70px;
  }
}
.user_responsive-input {
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  color: orange;
  border-style: solid;
  @media screen and (max-width: 1440px) {
    // Small input box
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
  }
  @media screen and (max-width: 320px) {
    width: 300px !important;
    padding-left: 0px;
  }
}
.info_responsive-input {
  // Large input box
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  color: orange;
  border-style: solid;
  @media screen and (max-width: 1440px) {
    // Small input box
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
  }
  @media screen and (max-width: 320px) {
    width: 300px !important;
  }
}
.add_responsive-input {
  // Large input box
  height: 45px;
  width: 400px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  color: orange;
  border-style: solid;
  @media screen and (max-width: 1440px) {
    // Small input box
    height: 45px;
    width: 315px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  @media screen and (max-width: 320px) {
    width: 300px !important;
  }
}
.select_div{
  padding-left: 60px;
   @media screen and (max-width: 320px) {
    padding-left: 10px;
  }
}
.select_input_lead{
  height: 40px;
  border-color:orange;
  border-style: 1px solid red;
   @media screen and (max-width: 320px) {
    height: 30px;
  }
}
.select_input{
  height: 40px;
  width: 187px;
  border-color:orange;
  border-style: 1px solid red;
  @media screen and (max-width: 320px) {
    height: 30px;
  }
}
.sign_up_form_submit {
  height: 60px;
  width: 400px;
  color: white;
  background-color: orange;
  // border: 1px solid black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  @media screen and (max-width: 320px) {
    width: 300px !important;
  }
  @media screen and (max-width: 1440px) {
    height: 50px;
    width: 315px;
  }
}
.senior_edit_form_top {
  padding-top:  20px;
  margin-top: 90px;
  height: 450px;
  width:90%;
  background-color:   white;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  border-radius: 6px;
  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    border-radius: 3px;
  }
}
.comp_edit_req{
  background-color: orange;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
.comp_edit_form_top {
  padding-top:  20px;
  margin-bottom: 40px;
  background-color:   white;
  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 0px;
    width: 100%;
    border-radius: 3px;
  }
}
.edit_responsive-input {
  height: 40px;
  width: 600px;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Muli', sans-serif;
  outline: none;
  border-width:thin;
  border-style: solid;
  border-color: orange;
  @media screen and (max-width: 1440px) {
    // Small input box
    height: 30px;
    width: 500px;
    padding: 5px 10px;
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    // Small input box
    height: 30px;
    width:  450px;
  }
   @media screen and (max-width: 414px) {
    // Small input box
    height: 30px;
    width:  280px;
  }
  @media screen and (max-width: 320px) {
    width: 240px;
    padding-left: 0px;
  }
}
.fee_div {
  padding-left: 40px;
  @media screen and (max-width: 320px) {
  padding-left: 20px;
  }
}
.descrip {
  height: 120px;
  width: 600px;
  border-radius: 6px;
  border-color:orange;

  @media screen and (max-width: 320px) {
    width: 250px !important;
  }

   @media screen and (max-width: 414px) {
    width: 290px !important;
  }
  @media screen and (max-width: 1440px) {
    width: 350px;
  }
}
.index_div{
   margin-top:60px;
}
.comp_show {
  height: 400px;
}
.comp_show a {
  text-decoration: none;
  color: black;
}
.comp_img {
  height: 70%;
  background-position: center;
  background-repeat: none;
  background-size:cover;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

}
.comp_descrp {
  height: 25%;
  // border: 1px solid gray;
  border-top: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.comp_rate {
  height: 23px;
  position: absolute;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius:1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 425px) {
     top:0px !important;
  }
  @media screen and (max-width: 1024px) {
     top:10px;
  }
}
.edit_n_comp_rate {
  color: orange;
  height: 23px;
  position: absolute;
  top:76%;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius:1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 425px) {
     top:74% !important;
  }
  @media screen and (max-width: 1024px) {
     top:76%;
  }
}
.edit_tag{
  color: orange;
  text-decoration: none;
}
.edit_tag {
  color: orange;
}
.edit_tag:link{
  text-decoration: none;
}
.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}
.comp_fee {
  height: 23px;
  position: absolute;
  right: 15px;
  font-weight: 700;
  opacity: 0.8;
  background-color: white;
  border-radius:1px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 425px) {
     top:0px !important;
  }
  @media screen and (max-width: 1024px) {
     top:10px;
  }
}
.sen_img_app {
  margin: 0px 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 10px;
  width: 96%;
  @media screen and (max-width: 640px){
    margin: 20px;
    width: 90%;
  }
  @media screen and (max-width: 320px){
    width: 89%;
  }
}
.sen_image {
  height: 350px;
  @media screen and (max-width: 640px){
    height: 350px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.no_cont{
  @media screen and (max-width: 640px){
  padding-left: 0px;
  padding-right: 0px;
  }
}
.sen_img_upper {
  height: 80%;
  width: 100%;
  background-position: top center;
  background-repeat: none;
  background-size:cover;
  margin-top:10px;
  border-radius:3px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  @media screen and (max-width: 640px){
    margin: 0px;
  }
}
.sen_img_lower {
  height: 20%;
  // Understand Flex box
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.sen_app {
  margin-top: 15px;
  font-family: 'Muli' sans-serif;
}
.sen_app_par {
  font-weight:700;
  font-size: 20px;
}
.sen_rating {
  margin: 0px 15px;
  width: 96%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: white;
  border-radius:3px;
  margin-bottom: 10px;
    @media screen and (max-width: 414px) {
    margin: 0px 5px;
    margin: 20px;
    width: 91%;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 5px;
    margin: 20px;
    width: 89%;
  }
}
.calender{
  padding-top:10px;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
   background-color: white;
   width: 95%;
   @media screen and (max-width: 640px){
    margin: 20px;
  }
}
.sen_stars {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  font-weight:500;
  font-size: 18px;
  @media screen and (max-width: 1440px) {
    font-weight: 0;
    font-size: 12px;
  }
}
.responsive-image {
  width:60px;
  height:60px;
  @media screen and (max-width: 640px) {
    width:60px;
    height:60px;
  }
}
.img-circle {
  border-radius: 60px;
}
.review_div {
  padding-top: 50px;
}
.sen_comp {
  margin: 0px 15px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius:3px;
}
.comp_description {
  margin: 16px 0px;;
  font-family: 'Muli';
  border-radius: 3px;
  @media screen and (max-width: 640px) {
    margin: 20px 0px;
  }
}
.comp_app_req {
  padding: 0 15px;
  margin: 15px;
  border-radius: 3px;
  @media screen and (max-width: 640px) {
    margin: 5px;
  }
}
.rev_paragraphs {
  font-size: 14px;
  @media screen and (max-width: 640px) {
    font-size: 15px;
  }
}
.daite {
  margin: 0px 5px;
}
.user_rev_par{
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Muli', sans-serif;;
}
.date_time{
  display: none;
}


