// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color:white;
}
.notification {
  margin-bottom: 0em;
}

.sign_up_form_top {
  padding-top:  20px;
  margin-top: 90px;
  height: 550px;
  width:90%;
  background-color:   white;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    border-radius: 3px;
  }
}

.user_responsive-input {
  height: 70px;
  width: 500px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    // Small input box
    height: 50px;
    width: 350px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 6px;
  }
}

.info_responsive-input {
  // Large input box
  height: 70px;
  width: 310px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    // Small input box
    height: 50px;
    width: 350px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px;
  }
}

.add_responsive-input {
  // Large input box
  height: 70px;
  width: 1070px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    // Small input box
    height: 50px;
    width: 350px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px;
  }
}

.senior_edit_form_top {
  padding-top:  20px;
  margin-top: 90px;
  height: 450px;
  width:90%;
  background-color:   white;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    border-radius: 3px;
  }
}

.comp_edit_form_top {
  padding-top:  20px;
  margin-top: 90px;
  height: 550px;
  width:90%;
  background-color:   white;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    padding-top:  40px;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    border-radius: 3px;
  }
}
.descrip {
  height: 120px;
  width: 1070px;
  border-radius: 6px;

  @media screen and (max-width: 1440px) {
    width: 350px;
  }
}

.comp_show {
  // border: 1px solid gray;
  height: 400px;

}

.comp_img {
  height: 70%;
  background-position: center;
  background-repeat: none;
  background-image:url(https://cdn1.nursinglicensemap.com/content/9d3968d2dc1b4bdeb09b74e20999ade4/Registered_nurse.jpg);
  background-size:cover;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);

}

.comp_descrp {
  height: 25%;
  border: 1px solid gray;
  border-top: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.comp_rate {
  height: 30px;
  // border: 1px solid pink;
  position: absolute;
  top:0px;
}
