// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_div {
  padding-top:0px;
  @media screen and (max-width: 1024px){
    margin-top: -20px;
  }
}

.flash {
  height: 40px;
  width: 80%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin: 0 auto;
}
#car1{
  background-size: cover;
  height: 530px;
  background-image:url(/assets/boardgamecomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/boardgamecomp.jpg);
  @media screen and (max-width: 1024px){
    height: 350px;
    background-attachment: scroll;
    background-position: top center;
  }
}

.scrollh1{
  padding-top: 240px;
  color:white;
  font-family: 'Muli', sans-serif;
  @media screen and (max-width: 1024px){
    padding-top: 120px;
    font-size:25px;
  }
  @media screen and (max-width: 468px){
    padding-top: 150px;
    font-size:15px;
  }
}
.scrollh2{
  color:white;
  font-family: 'Muli', sans-serif;
  @media screen and (max-width: 1024px){
    font-size:20px;
  }
   @media screen and (max-width: 468px){
    font-size:10px;
  }
}
.scrollh3{
  color:white;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
   @media screen and (max-width: 1024px){
    font-size:15px;
  }
  @media screen and (max-width: 468px){
    font-size:10px;
  }
}
#car2{
  background-size: cover;
  background-image:url(/assets/coffietimecomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/coffietimecomp.jpg);
  // background-attachment: fixed;
  height: 530px;
  @media screen and (max-width: 1024px){
    background-position: top center;
    height: 350px;
    background-attachment: scroll;
  }
}
#car3{
  background-size: cover;
  height: 530px;
  background-image:url(/assets/smilyblaccomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/smilyblaccomp.jpg);
  @media screen and (max-width: 1024px){
    height: 350px;
    background-attachment: scroll;
  }
}
.image_div p {
  font-size: 30px;
  padding-top:460px;
  color: white;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif;
  @media screen and (max-width: 425px){
    font-size: 12px;
  }
}
.comp_div {
  margin: 0px 0px 0px 0px;
}
.comp_div .col-lg-4 {
  @media screen and (max-width: 425px){
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.pad_cont{
  padding-right:5px;
  padding-left:5px;
}
.comp_div .col-lg-12 p {
  color: orange;
  font-size:20px;
  letter-spacing: 3px;
  padding-top:20px;
}
.comp_img_div {
  background-postion: center;
  height: 60%;
  background-size:cover;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.comp_img_text {
  height: 10%;
  display: flex;
  align-items: center;
}
.comp_img_text p {
  color: orange;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
}
.comp_img_descrp p {
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}
.comp_img_descrp {
  height: 20%
}
.who_we {
  padding: 30px 80px 30px 80px;
  background-color: Azure;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 425px){
    padding: 10px 30px 20px;
  }
}
.who_we .text-center {
  font-size:20px;
  color: orange;
  letter-spacing: 3px;
  @media screen and (max-width: 425px){
    padding: 0px 30px 20px;
  }
}
.who_we p {
  font-size: 18px;
}
.font {
  margin-bottom: 30px;
}
.font_back{
  padding:10px;
  margin: 30px 0px;
  @media screen and (max-width: 1024px){
    padding: 0px;
  }
}
// .font_back:hover{
//    -webkit-transform: scale(1.1);
//     -ms-transform: scale(1.1);
//     transform: scale(1.1);
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
//   box-shadow-color: orange;
//   @media screen and (max-width: 1024px){
//     -webkit-transform: none;
//     -ms-transform: none;
//     transform: none;
//     box-shadow: none;
//   }
// }
.font_back .text-center {
  color: orange
}
.font_back_val{
  margin: 30px 0px;
}
.font_back_val .text-center {
  color: orange
}
.font_p {
  padding: 0 20px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}
.font_p_1 {
  letter-spacing: 2px;
  font-size: 15px;
  color: orange;
}
.image2_div {
  background-repeat: no-repeat;
  background-size:cover;
  background-postion: center;
  background-image:url(/assets/helpcomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/helpcomp.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 650px;
  // opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (max-width: 1024px){
    height: 400px;
    background-attachment: scroll;
    background-position: top center;
  }
  @media screen and (max-width: 425px){
    height: 400px;
  }
}
.image2_div p {
  font-size: 30px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 5px rgba(0,0,0,1);
  font-family: 'Muli', sans-serif;
  @media screen and (max-width: 425px){
    font-size: 12px;
    font-weight: 700;
  }
}
.stepp {
  margin: 20px 0px;
  padding: 50px 0px;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  @media screen and (max-width: 768px){
    padding: 100px 20px;
  }
}
.stepp h2 {
  padding-bottom: 50px;
}
.require {
  margin: 60px 0px;;
  background-color: #f5f5f5;
  @media screen and (max-width: 425px){
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  }
}
.require .col-lg-6 {
}
.require_div1{
  padding: 15px 0px;
  color: orange;
}
.require_div1 h2{
  font-family: 'Muli', sans-serif;
  color: orange;
  letter-spacing: 3px;
  font-size:25px;
}
.require_div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  height: 500px;
  @media screen and (max-width: 425px){
    height: 350px;
  }
}
.require_img {
   background-repeat: no-repeat;
  background-size:cover;
  background-postion: center;
  background-image:url(/assets/backcheckcomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/backcheckcomp.jpg);
  box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  // opacity:0.8;
  width: 100%;
  height: 600px;
  @media screen and (max-width: 425px){
    height: 450px;
  }
}
.require_par_last {
  padding-bottom: 2.5em;
  @media screen and (max-width: 768px){
    padding-bottom: 0em;
  }
}
.be_a_comp_icons{
  padding-right:10px;
}
.why_this {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  padding: 40px 20px;
}
.why_this h2 {
  font-family: 'Muli', sans-serif;
  color: orange;
  letter-spacing: 3px;
  font-size:25px;
}
.why_this_div h2{
  font-family: 'Muli', sans-serif;
  color: orange;
  letter-spacing: 3px;
  font-size:25px;
}
.why_this_comp {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  padding: 0px 5px;
  margin-bottom: 40px;
}
.why_this_img {
  background-repeat: no-repeat;
  background-size:cover;
  background-postion: left center;
  // opacity:0.8;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  background-image:url(/assets/youngmancomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/youngmancomp.jpg);
  width: 100%;
  height: 600px;
  @media screen and (max-width: 425px){
    height: 450px;;
  }
}
.sen_why_this_img {
  background-repeat: no-repeat;
  background-size:cover;
  background-postion: left;
  background-image:url(/assets/cocktailcomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/cocktailcomp.jpg);
  width: 100%;
  height: 600px;
  @media screen and (max-width: 425px){
    height: 250px;
  }
}
.why_this_div {
 background-color:#f5f5f5;
 display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  height: 600px;
 @media screen and (max-width: 768px){
   box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
   background-color:white;
  }
}
.why_this_par_last {
  padding-bottom: 3em;
  @media screen and (max-width: 768px){
    padding-bottom: 0em;
  }
}
.become_submit {
  height: 45px;
  width: 200px;
  color: white;
  background-color: orange;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  @media screen and (max-width: 1440px) {
    height: 50px;
    margin-bottom: 40px;
  }
}
.need_com_img {
  background-repeat: no-repeat;
  background-size:cover;
  background-postion: top center;
  background-image:url(/assets/boulecomp.jpg); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/assets/boulecomp.jpg);
  width: 100%;
  height: 650px;
  margin-bottom: 30px;
  @media screen and (max-width: 645px) {
    height: 350px;
  }
}
.policy_header {
  color: orange;
}
.par_last_policys{
  padding-bottom: 15px;
}
.values{
  background-color: #f5f5f5;
  padding-top:20px;
}
.values .edit_tag{
  font-size:25px;
  font-family: 'Muli', sans-serif;
  letter-spacing: 3px;
}
.text_header{
  color: orange;
  font-size:20px;
  letter-spacing: 3px;
  padding-top:20px;
}
.btn-link{
  color: orange;
  letter-spacing: 2px;
  text-decoration-line: none;
}
.faq .edit_tag{
  letter-spacing: 0px;
  text-decoration-line: underline;
  font-size: 50px;
  padding-top: 30px;
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}
.faq .card{
  border: none;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}
.faq .card-header{
  border: none;
  background-color: transparent;
  padding: .375rem .55rem;

}
.faq .card-header .btn {
    @media screen and (max-width: 645px) {
    letter-spacing: none;
    font-size: 0.65rem !important;
  }
}

.choose{
  padding-top: 320px;
  height: 600px;
  width: 100%;

  @media screen and (max-width: 468px) {
  padding-top: 220px;
  height: 400px;
  width: 100%;
  }

   @media screen and (max-width: 320px) {
  padding-top: 160px;
  height: 400px;
  width: 100%;
  }
}
