<% date = params[:date]%>
<div id="time_sheet_<%= date %>" class="appointment_time_sheet_overlay">
  <div class="time_sheet_center_wrapper">

    <h1>HEEEEEYYYYYYYYY</h1>

    <div class="time_sheet_close_option">
      <%=link_to "Close Time Sheet", close_appointment_time_sheet_path, remote: true %>
    </div>

  </div>
</div>
