<% offdate = "2000-01-01" %>
<% @all_times = [
  {match_time: "#{offdate} 07:00:00 UTC", slang_time: "7:00AM"},
  {match_time: "#{offdate} 08:00:00 UTC", slang_time: "8:00AM"},
  {match_time: "#{offdate} 09:00:00 UTC", slang_time: "9:00AM"},
  {match_time: "#{offdate} 10:00:00 UTC", slang_time: "10:00AM"},
  {match_time: "#{offdate} 11:00:00 UTC", slang_time: "11:00AM"},
  {match_time: "#{offdate} 12:00:00 UTC", slang_time: "12:00AM"},
  {match_time: "#{offdate} 13:00:00 UTC", slang_time: "13:00AM"},
  {match_time: "#{offdate} 14:00:00 UTC", slang_time: "14:00AM"},
  {match_time: "#{offdate} 15:00:00 UTC", slang_time: "15:00AM"},
  {match_time: "#{offdate} 16:00:00 UTC", slang_time: "16:00AM"},
  {match_time: "#{offdate} 17:00:00 UTC", slang_time: "17:00AM"},
  {match_time: "#{offdate} 18:00:00 UTC", slang_time: "18:00AM"},
  {match_time: "#{offdate} 19:00:00 UTC", slang_time: "19:00AM"} ] %>
<% t_index = 0 %>
<% @all_times.each do |all_time_slot| %>
  <% @times.each do |time_avail| %>
    <% if time_avail.time == all_time_slot[:match_time] %>
      <% @all_times[t_index] = time_avail %>
    <% end %>
  <% end %>
  <% t_index += 1 %>
<% end %>

<% @all_times.each do |display_time| %>
  <% if display_time.is_a?(ActiveRecord::Base) %>
    <%= render 'appointments/selectable_time', :locals => {:display_time => display_time} %>
  <% else %>
    <button class="apt_time_box all_time_slot_unclickable"><%= display_time[:slang_time] %></button>
  <% end %>
<% end %>
