<button class="btn cal_but btn-warning" >
  <p class="notification"><%= @appointment.start_date.strftime('%b') %></p>
  <p class="notification"><%= @appointment.start_date.strftime('%d') %></p>
  <p class="notification"><%= @appointment.start_date.strftime('%Y') %></p>
</button>
