<!-- PARAMS: time_avail -->
<!-- PARAMS: all_time_slot -->
<!-- <span style="background: red;"><%= locals[:time_avail][:time] %></span> -->
<span style="background: red;"><%= locals[:all_time_slot][:slang_time] %></span>
