<!-- PARAMS: locals[:display_time].id -->
<% puts "PARTIAL_selectable_time: #{locals[:display_time].id}" %>
<button class="apt_time_box display_time_selectable"><%= locals[:display_time].time.strftime('%l:%M%p') %></button>
