<!-- PARAMS: locals[:time_avail][:time] -->
<!-- PARAMS: locals[:all_time_slot][:slang_time] -->
<!-- PARAMS: locals[:all_time_slot][:match_time] -->
<button class="apt_time_box all_time_slot_clickable"><%= locals[:all_time_slot][:slang_time] %></button>
