<!-- PARAMS: locals[:display_time][:slang_time] -->
<!-- PARAMS: locals[:display_time][:match_time] -->
<% time = locals[:display_time][:time] %>
<button class="apt_time_box display_time_selected"><%= time.strftime('%l:%M%p') %></button>
