<div class="footer-clean bg-light">
    <footer itemscope itemtype="http://schema.org/WPFooter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Platform</h3>
                    <ul>
                        <li><a href="/be_a_comp">Become a Companion</a></li>
                        <li><a href="/need_a_comp">Need a Companion</a></li>
                        <li><a href="/">What we do</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/terms_of_services">Terms of Service</a></li>
                        <li><a href="/privacy_policy">Privacy Policy</a></li>
                        <li><a href="/">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="https://www.facebook.com/senyours/"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/TeamSenyours"><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/senyours/"><i class="fa fa-instagram"></i></a><a href="https://www.linkedin.com/company/18529562/"><i class="fa fa-linkedin"></i></a>
                    <p class="copyright" itemprop="copyrightHolder">Senyours © <span itemprop="copyrightYear">2018</span></p>
                </div>
            </div>
        </div>
    </footer>
</div>
