<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="/">SeenYours</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <button class="header_large_button"> Sign Out</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= current_user.id %>">
            <button class="header_large_button">Profile</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= current_user.id %>/edit">
            <button class="header_large_button">Update Account</button>
          </a>
        </li>
        <% if current_user.identification === "Senior" %>
            <li class="nav-item">
            <a class="nav-link" href="/users/<%= current_user.id %>/available_days/new">
              <button class="header_large_button"> Find Companions</button>
            </a>
            </li>
        <% end %>
        <% if current_user.identification === "Companion" %>
            <li class="nav-item">
            <a class="nav-link" href="/users/<%= current_user.id %>/available_days/new">
            <button class="header_large_button">Days you can work</button>
            </a>
            </li>
        <% end %>
      <% else %>
        <li class="nav-item lead_nav">
          <a class="nav-link" href="">
            <button class="header_large_button">Need Companion</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <button class="header_button">Home</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <button class="header_large_button">Become a Companion</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link press" href="#what_we">
            <button class="header_large_button" style="width: 150px;">What we do</button>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/new">
            <button class="header_button">Sign Up</button>
          <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <button class="header_button">Sign In</button>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
