
<body>
  <div id="carousel_1" style="background-image: url(<%= asset_path 'dollar_bill.png.jpg' %>)">
<div id="header">
  <h2>We are verifying Your Card.</h2>
  <h2>We'll charge you <strong> $1 </strong> and return it into your account</h2>
</div>
    <div id="back_button">
      <button><a class="button_text"> <%= link_to 'Back', new_user_available_day_path(current_user) %> </a></button>
    </div>
  </div>

  <%= render '/footer' %>

</body>
